<%- self.page_title = 'Which key stages do you offer experience with?' -%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for key_stage_list, url: url, method: method do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :early_years_1 %>

      <h1 class="govuk-heading-l">
        Which key stages do you offer experience with?
      </h1>

      <p>
        Select all that apply.
      </p>

      <%= f.govuk_check_boxes_fieldset :early_years, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :early_years, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :key_stage_1, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :key_stage_1, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :key_stage_2, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :key_stage_2, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
