<%- self.page_title = 'Confirm number of primary key stages' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Confirm number of primary key stages' => nil
  }
%>

<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for key_stage_list, url: url, method: method do |f| %>
      <%= f.check_box_fieldset :title, %i(), { page_heading: true } do |fieldset| %>
        <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
        <p>
          Tell us which key stages you offer for your primary school experience.
        </p>
        <p>
          This will help candidates select a primary school experience.
        </p>
        <%= fieldset.check_box_input :early_years %>
        <%= fieldset.check_box_input :key_stage_1 %>
        <%= fieldset.check_box_input :key_stage_2 %>
      <% end %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
