<% self.page_title = 'Background and security checks' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Background and security checks</h1>
    <p>
      Some schools may ask you to have a criminal record check through the
      <%= link_to 'Disclosure and Barring Service (DBS)', 'https://www.gov.uk/government/organisations/disclosure-and-barring-service/about' %>
      before offering you school experience.
    </p>
    <p>
      These are commonly known as ‘DBS checks’ and provide you with a ‘DBS certificate’ to show you’re suitable to work with children and young people.
    </p>
    <p class="govuk-!-font-weight-bold">
      Schools will let you know if you need to have a DBS check before offering you school experience.
    </p>
    <p>
      <strong>
        <%= link_to "Find out more about 'DBS checks' and 'DBS certificates'", 'https://www.gov.uk/government/organisations/disclosure-and-barring-service/about' %>
      </strong>
    </p>

    <%= form_for background_check, url: candidates_school_registrations_background_check_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary background_check, 'There is a problem', '' %>

      <% # force the params to submit if the user has not selected an option %>
      <%= f.hidden_field :has_dbs_check, value: nil %>

      <%= f.radio_button_fieldset :has_dbs_check do |fieldset| %>
        <%= fieldset.radio_input true %>
        <%= fieldset.radio_input false %>
      <% end %>

      <fieldset class="govuk-fieldset">
        <%= f.submit 'Continue' %>
      </fieldset>
    <% end %>
  </div>
</div>
