<%- self.page_title = 'Select school experience phases' %>
<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Select school experience phases' => nil
  }
%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for phases_list, url: url, method: method do |f| %>
      <%= f.check_box_fieldset :title, %i(), { page_heading: true } do |fieldset| %>
        <p>
          Tell us which phases you offer. This will help candidates select a school experience.
        </p>
        <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
        <%= fieldset.check_box_input :primary %>
        <%= fieldset.check_box_input :secondary %>
        <%= fieldset.check_box_input :secondary_and_college %>
        <%= fieldset.check_box_input :college %>
      <% end %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
