<%- self.page_title = 'Which school phases do you offer experience with?' %>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Which school phases do you offer experience with?
    </h1>

    <%= govuk_form_for phases_list, url: url, method: method do |f| %>
      <%= f.govuk_error_summary link_base_errors_to: :primary_1 %>

      <p>
        Select all that apply.
      </p>

      <%= f.govuk_check_boxes_fieldset :primary, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :primary, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :secondary, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :secondary, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :secondary_and_college, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :secondary_and_college, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :college, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :college, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_submit "Continue" %>
    <% end %>
  </div>
</div>
