<h1 class="govuk-heading-l">We need some more details</h1>
<p>The following will be used to help schools offer you school experience placements.</p>

<%= form_for @subject_preference, url: candidates_school_registrations_subject_preference_path(current_school) do |f| %>
  <%= GovukElementsErrorsHelper.error_summary @subject_preference, 'There is a problem', '' %>
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">What stage are you at with your degree?</h1>
    </legend>
    <%= f.radio_button_fieldset :degree_stage, legend_options: { class: 'govuk-visually-hidden' } do |fieldset| %>
      <% Candidates::Registrations::SubjectPreference.degree_stages.each do |degree_stage| %>
        <% if degree_stage == Candidates::Registrations::SubjectPreference::DEGREE_STAGE_REQUIRING_EXPLINATIONN %>
          <%= fieldset.radio_input degree_stage do %>
            <%= fieldset.text_area :degree_stage_explaination %>
          <% end %>
        <% else %>
          <%= fieldset.radio_input degree_stage %>
        <% end %>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">If you have or are studying for a degree, tell us your your degree subject</h1>
    </legend>
    <div class="govuk-form-group">
      <%= f.label :degree_subject, class: 'govuk-label' %>
      <%= f.select :degree_subject,
        options_for_select(Candidates::Registrations::SubjectPreference.degree_subjects),
        { prompt: '', },
        { class: 'govuk-select' } %>
    </div>
  </fieldset>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">Which of the following teaching stages are you at?</h1>
    </legend>
    <%= f.radio_button_fieldset :teaching_stage, legend_options: { class: 'govuk-visually-hidden' } do |fieldset| %>
      <% Candidates::Registrations::SubjectPreference.teaching_stages.each do |teaching_stage| %>
        <%= fieldset.radio_input teaching_stage %>
      <% end %>
    <% end %>
  </fieldset>

  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      <h1 class="govuk-fieldset__heading">What subject do you want to teach?</h1>
    </legend>
    <div class="govuk-form-group">
      <%= f.label :subject_first_choice, class: 'govuk-label' %>
      <%= f.select :subject_first_choice,
        options_for_select(Candidates::Registrations::SubjectPreference.subject_choices),
        { prompt: 'Select' },
        { class: 'govuk-select' } %>
    </div>

    <div class="govuk-form-group">
      <%= f.label :subject_second_choice, class: 'govuk-label' %>
      <%= f.select :subject_second_choice,
        options_for_select(Candidates::Registrations::SubjectPreference.subject_choices),
        { prompt: 'Select' },
        { class: 'govuk-select' } %>
    </div>
  </fieldset>

  <fieldset class="govuk-fieldset">
    <%= f.submit 'Continue' %>
  </fieldset>
<% end %>
