<% self.page_title = 'Search for school experience' %>
<% content_for :back_link do govuk_back_link; end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Search for school experience
    </h1>
    <div id="search-form">
      <%= form_for(@search,
                   as: '',
                   url: candidates_schools_path,
                   method: :post,
                   html: { novalidate: false, class: 'school-search-form' },
                   data: { controller: :autocomplete,
                           "autocomplete-target": "wrapper",
                           "autocomplete-api-key-value": Rails.application.config.x.google_maps_key,
                           "autocomplete-error-value": @search.errors[:location].first }) do |f| %>

        <%= f.govuk_error_summary %>

        <%= f.govuk_text_field :location, required: true, minlength: "2", label: { text: t('helpers.label.location') }, type: "search",
                               data: { "autocomplete-target": "nonJsInput" } %>

        <div class="govuk-form-group" data-autocomplete-target="locationFormGroup">
          <label for="location-field" data-autocomplete-target="autocompleteInputLabel" class="govuk-label govuk-visually-hidden"><%= t('helpers.label.location') %></label>
          <div id="location-autocomplete" data-autocomplete-target="autocompleteWrapper" class="govuk-body"></div>
        </div>

        <%= f.govuk_collection_select :distance,
                                      Candidates::SchoolSearch.distances, :first, :last, label: { text: t('helpers.label.distance') } unless f.object.whitelisted_urns? %>

        <div class="school-search-form__submit">
          <div class="govuk-form-group">
            <%= f.govuk_submit 'Search', name: nil, aria: { label: 'Search for schools offering school experience' } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
