<article id="dashlette">
  <h1 class="govuk-heading-l">Manage school experience at <%= @current_school.name %></h1>

  <%- if show_no_placement_dates_warning?(@current_school) -%>
    <%= render partial: 'schools/dashboards/no_placement_dates_warning' %>
  <%- end -%>

  <%- if show_no_availability_info_warning?(@current_school) -%>
    <%= render partial: 'schools/dashboards/no_availability_info_warning' %>
  <%- end -%>

  <ul class="govuk-list">

    <li>
      <%= link_to "Change school", new_schools_switch_path %>
      <span class="govuk-hint">
        Manage school experience for another school
      </span>
    </li>

    <li>
      <%= link_to "Turn requests on / off", edit_schools_enabled_path %>
      <span class="govuk-hint">
        Choose to stop / start receiving requests from candidates.
        Requests are currently <strong><%= school_enabled_description(@current_school) %></strong>.
      </span>
    </li>

    <li>
      <%= link_to "Update school profile", schools_on_boarding_profile_path %>
      <span class="govuk-hint">
        Add, edit and remove school profile details
      </span>
    </li>

  </ul>

  <section class="availability-preferences">
    <h3 class="govuk-heading-s">Availability and dates</h3>

    <ul class="govuk-list">
      <li>
        <%= link_to "Change how availability and dates are displayed", edit_schools_availability_preference_path %>
        <span class="govuk-hint">
          Your school currently displays
          <strong><%= availability_status_display_status(@current_school.availability_preference_fixed?) %></strong>
          to candidates
        </span>
      </li>

      <%- if @current_school.availability_preference_fixed? -%>
        <li>
          <%= link_to "Manage fixed dates", schools_placement_dates_path %>
          <span class="govuk-hint">
            Add, remove, close and open <strong>fixed dates</strong> for school experience
          </span>
        </li>
      <%- else -%>
        <li>
          <%= link_to "Manage flexible dates", edit_schools_availability_info_path %>
          <span class="govuk-hint">
            Update your availability and <strong>flexible dates</strong> for school experience
          </span>
        </li>
      <%- end -%>
    </ul>
  </section>

  <section class="help-and-support">
    <h3 class="govuk-heading-s">Help and support</h3>
    <ul class="govuk-list">
      <li>
        <%= link_to "Service updates and guidance - #{service_update_last_updated_at}", service_update_path %>
        <span class="govuk-hint">
          Find out about the latest changes to the service and how it works
        </span>
      </li>
    </ul>
  </section>
</article>
