<article id="dashlette">
  <h1 class="govuk-heading-l">Manage school experience at <%= @current_school.name %></h1>

  <ul class="govuk-list">

    <li>
      <%= link_to "Change school", new_schools_switch_path %>
      <span class="govuk-hint">
        Manage school experience for another school
      </span>
    </li>

    <li>
      <%= link_to "Turn requests on / off", edit_schools_enabled_path %>
      <span class="govuk-hint">
        Choose to stop / start receiving requests from candidates.
        Requests are currently <strong><%= school_enabled_description(@current_school) %></strong>.
      </span>
    </li>

    <li>
      <%= link_to "Update school profile", schools_on_boarding_profile_path %>
      <span class="govuk-hint">
        Add, edit and remove school profile details
      </span>
    </li>

  </ul>

  <section class="availability-preferences">
    <h3 class="govuk-heading-m">Availability preferences</h3>

    <ul class="govuk-list">
      <li>
        <%= link_to "Change your flexibility preference", edit_schools_availability_preference_path %>
        <span class="govuk-hint">
          <%= @current_school.name %> is currently set to
          <strong><%= availability_status_display_status(@current_school.availability_preference_fixed?) %></strong>.
        </span>
      </li>

      <%- if @current_school.availability_preference_fixed? -%>
        <li>
          <%= link_to "Update school experience dates", schools_placement_dates_path %>
          <span class="govuk-hint">
            Add, edit and disable <strong>fixed</strong> dates for candidates
          </span>
        </li>
      <%- end -%>

    </ul>
  </section>
</article>
