<section class="manage-dates" class="medium-priority">
  <h2 class="govuk-heading-m">School profile</h2>

  <div id="update-school-profile" class="subsection">
    <header class="dashboard-medium-priority">
      <%= link_to "Update school profile", schools_on_boarding_profile_path %>
    </header>
    <span class="govuk-hint">
      Update school details, placement details and requirements
    </span>
  </div>

  <%- if @current_school.availability_preference_fixed? -%>
    <div id="add-remove-and-change-dates" class="subsection">
      <header class="dashboard-medium-priority">
        <%= link_to "Manage dates", schools_placement_dates_path %>
      </header>
      <span class="govuk-hint">
      Add, remove and change placement dates
      </span> 
    </div>
  <%- end -%>

  <div id="change-how-dates-are-displayed" class="subsection">
    <header class="dashboard-medium-priority">
      <%= link_to "Change how dates are displayed", edit_schools_availability_preference_path %>
    </header>
    <span class="govuk-hint">
      Show specific dates, or a description of when you can host candidates
    </span> 
  </div>

  <div id="manage-requests" class="subection">
    <header class="dashboard-medium-priority">
      <%= link_to "Turn profile on or off", edit_schools_enabled_path %>
    </header>
    <span class="govuk-hint">
      Choose to stop or start receiving requests.
      Your profile is currently <strong><%= school_enabled_description(@current_school) %></strong>.
    </span>
  </div>

</section>
