<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <div id="requests" class="panel govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Active requests</h2>
      <p>View, accept or reject requests from candidates</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <%= link_to "Manage requests", schools_placement_requests_path %>
          <%= numbered_circle(@outstanding_tasks[:requests_requiring_attention], id: 'new-requests-counter', aria_label: 'new placement requests') %>
        </li>
      </ul>
    </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <div id="bookings" class="panel govuk-!-margin-bottom-5">
      <h2 class="govuk-heading-m">Upcoming bookings</h2>
      <p>Manage candidate bookings and attendance</p>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <%= link_to "Manage upcoming bookings", schools_bookings_path  %>
          <%= numbered_circle(@outstanding_tasks[:upcoming_bookings], id: 'new-bookings-counter', aria_label: 'new upcoming bookings') %>
        </li>
        <li>
          <%= link_to "Confirm booking attendance", schools_confirm_attendance_path  %>
          <%= numbered_circle(@outstanding_tasks[:bookings_pending_attendance_confirmation], id: 'confirm-attendance-counter', aria_label: 'attendances to confirm') %>
        </li>
      </ul>
   </div>
  </div>
</div>
