<% self.page_title = "Manage requests and bookings at #{@current_school.name}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="dashboard">
      <% unless @current_school.private_beta? %>
        <%= render partial: 'update_your_school_profile' %>
      <% end %>

      <span class="govuk-caption-xl">School dashboard</span>
      <h1 class="govuk-heading-l"><%= @current_school.name %></h1>


      <% if has_other_schools? || (Schools::ChangeSchool.allow_school_change_in_app? && Schools::ChangeSchool.request_approval_url) %>
        <div id="change-school">
          <%= link_to "Change school", new_schools_switch_path %>
        </div>
      <% end %>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <% if @current_school.private_beta? %>
        <%= render 'profile_status' %>

        <%= render 'service_update_notice' if @latest_service_update && !@viewed_latest_service_update %>

        <%= render partial: 'requests_and_bookings' %>
        <%= render partial: 'profile_and_dates' %>
        <%= render partial: 'history_and_support' %>
      <% else %>
        <div class="govuk-grid-row">
          <%= render partial: 'help_and_support' %>
        </div>
      <% end %>
    </div>

  </div>
</div>
