<% self.page_title = "Manage requests and bookings at #{@current_school.name}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Manage requests and bookings at <%= @current_school.name %></h1>

    <article id="dashboard">

      <% if has_other_schools? %>
        <section id="change-school">
          <%= link_to "Change school", new_schools_switch_path %>
        </section>
      <% end %>

      <% if @current_school.private_beta? %>

        <%= render partial: 'your_school_is_disabled' if @current_school.disabled? %>
        <%= render partial: 'new_requests_and_bookings' %>
        <%= render partial: 'manage_dates' %>
        <%= render partial: 'account_admin' %>

      <% else %>
        <%= render partial: 'update_your_school_profile' %>
      <% end %>

      <section id="help-and-support" class="medium-priority">
        <h2 class="govuk-heading-m">
          Help and support
        </h2>

        <div id="service-updates-and-guidance" class="subsection">
          <header class="dashboard-low-priority">
            <%= link_to "Service updates and guidance - #{service_update_last_updated_at}", service_update_path %>
          </header>
          <span class="govuk-hint">
            Find out about the latest changes to the service and how it works
          </span>
        </div>

        <div id="contact-us" class="subsection">
          <header class="dashboard-low-priority">
            <%= link_to 'Contact us', schools_contact_us_path %>
          </header>
          <span class="govuk-hint">
            Get in touch if you need help using the service
          </span>
        </div>
      </section>
    </article>
  </div>
</div>
