<% self.page_title = "School dashboard" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div id="dashboard">
      <% unless @current_school.onboarded? %>
        <%= render partial: 'update_your_school_profile' %>
      <% end %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

	        <span class="govuk-caption-xl">School dashboard</span>
          <h1 class="govuk-heading-l"><%= @current_school.name %></h1>

          <% if has_other_schools? || (Schools::ChangeSchool.allow_school_change_in_app? && Schools::ChangeSchool.request_approval_url) %>
            <div id="change-school">
              <%= link_to "Change school", new_schools_switch_path %>
            </div>
          <% end %>
        </div>

        <div class="govuk-grid-column-one-third">
          <% if in_school_group?(@current_school.urn) %>
          <div class="school-group-cta">
            <h2 class="govuk-heading-s">There may be more schools you can add to the service</h2>

            <p><%= link_to("Add more schools", @dfe_sign_in_request_organisation_url) %></p>
          </div>
          <% end %>
        </div>
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <% if @current_school.onboarded? %>
        <%= render 'profile_status' %>

        <%= render 'service_update_notice' if @latest_service_update && !@viewed_latest_service_update %>

        <%= render partial: 'requests_and_bookings' %>
        <%= render partial: 'profile_and_dates' %>
        <%= render partial: 'history_and_support' %>
        <%= render partial: 'user_management' %>
      <% else %>
        <div class="govuk-grid-row">
          <%= render partial: 'help_and_support' %>
        </div>
      <% end %>
    </div>

  </div>
</div>
