<%- self.page_title = 'DBS check costs' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'DBS check costs' => nil
  }
%>

<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      DBS check costs
    </h1>

    <%= form_for @dbs_fee, url: schools_on_boarding_dbs_fee_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
      <%= f.pounds_field :amount_pounds, width: 5, step: 0.01, min: 0, max: 9999.99, label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>

      <%= f.text_area :description, rows: 4, width: 'full', label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>
      <%= f.text_area :payment_method, rows: 4, width: 'full', label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>

