<%- self.page_title = 'DBS check costs' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'DBS check costs' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      DBS check costs
    </h1>

    <%= form_for @dbs_fee, url: schools_on_boarding_dbs_fee_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
      <%= f.pounds_field :amount_pounds, width: 5, step: 0.01, min: 0, max: 9999.99, label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>

      <%= f.text_area :description, rows: 4, width: 'full', label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } do %>
        <span class="govuk-hint">
          For example, ‘The fee covers the cost of carrying out your DBS check’
          or ‘We won’t charge you a fee if you have an enhanced DBS certificate
          which is less than 2 years old’
        </span>
      <% end %>
      <%= f.text_area :payment_method, rows: 4, width: 'full', label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } do %>
        <span class="govuk-hint">
          For example, by bank transfer, in cash or via PayPal.
        </span>
      <% end %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>

