<%- self.page_title = 'DBS check costs' -%>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for_duplicated_object @dbs_fee, url: schools_on_boarding_dbs_fee_path do |f| %>
      <h1 class="govuk-heading-l">
        DBS check costs
      </h1>

      <%= f.govuk_error_summary %>

      <%= f.govuk_number_field :amount_pounds, width: 5, step: 0.01, min: 0, max: 9999.9, label: { class: 'govuk-heading-m' }, prefix_text: '£' %>

      <%= f.govuk_text_area :description, rows: 4, width: 'full', label: { class: 'govuk-heading-m' } %>
      <%= f.govuk_text_area :payment_method, rows: 4, width: 'full', label: { class: 'govuk-heading-m' } %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>

