<% self.page_title = 'Check your placement details' %>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<h1>Check your placement details</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <dl class="govuk-summary-list">
      <%= summary_row \
        "Date".pluralize(@placement_date.recurring?),
        safe_join(@dates.map { |d| d.to_formatted_s(:govuk) }, tag.br),
        nil
      %>

      <%= summary_row \
        end_availability_offset_label(@placement_date.recurring?, @placement_date.published?),
        "#{@placement_date.end_availability_offset} #{"day".pluralize(@placement_date.end_availability_offset)} before it starts",
        new_schools_placement_date_placement_detail_path(@placement_date)
      %>

      <%= summary_row \
        duration_label(@placement_date.recurring?, @placement_date.published?),
        "#{@placement_date.duration} #{"day".pluralize(@placement_date.duration)}",
        new_schools_placement_date_placement_detail_path(@placement_date)
      %>

      <%= summary_row \
        "Experience type",
        @placement_date.virtual ? "Virtual" : "In school",
        new_schools_placement_date_placement_detail_path(@placement_date)
      %>

      <%= summary_row \
        "School phase",
        @placement_date.supports_subjects ? "Secondary" : "Primary",
        new_schools_placement_date_configuration_path(@placement_date)
      %>

      <% if @placement_date.subject_specific %>
        <%= summary_row \
          "Subjects",
          @placement_date.subjects.map(&:name).to_sentence,
          new_schools_placement_date_subject_selection_path(@placement_date)
        %>
      <% end %>
    </dl>

    <%= form_with url: schools_placement_date_publish_dates_path(@placement_date), method: "post" do |f| %>
      <%= f.govuk_submit "Publish placement #{"date".pluralize(@dates.count)}" %>
    <% end %>
  </div>
</div>
