<% if presenter.has_fees? %>
  <h2 id="fees">Fees</h2>

  <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
    <%= dlist_item "Admin fees", id: "administration-fee-info" do %>
      <p>
        <%= number_to_currency presenter.administration_fee_amount_pounds %>
        <%= presenter.administration_fee_interval %>,
        <%= presenter.administration_fee_payment_method %>
      </p>

      <%= safe_format presenter.administration_fee_description %>
    <% end if presenter.administration_fee_amount_pounds %>

    <%= dlist_item "Other fees", id: "other-fee-info" do %>
      <p>
        <%= number_to_currency presenter.other_fee_amount_pounds %>
        <%= presenter.other_fee_interval %>,
        <%= presenter.other_fee_payment_method %>
      </p>

      <%= safe_format presenter.other_fee_description %>
    <% end if presenter.other_fee_amount_pounds %>

    <%= dlist_item "DBS check fees", id: "dbs-fee-info" do %>
      <p>
        <%= number_to_currency presenter.dbs_fee_amount_pounds %>
        <%= presenter.dbs_fee_interval %>,
        <%= presenter.dbs_fee_payment_method %>
      </p>

      <%= safe_format presenter.dbs_fee_description %>
    <% end if presenter.dbs_fee_amount_pounds %>
  </dl>
<% end %>
