<%- self.page_title = "Describe when you’ll host school experience candidates" %>

<%= govuk_back_link edit_schools_availability_preference_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @current_school, url: schools_availability_info_path, method: :patch do |f| %>
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <%= f.govuk_text_area :availability_info, rows: 7, label: { class: 'govuk-heading-l' } do %>
            <p>
              Outline when you offer in school or virtual school experiences at
              your school.
            </p>

            <p>
              For example, on certain days of the week or around exams,
              holidays and term times.
            </p>

            <p>
              These details will be shown to candidates to help them choose
              school experience at your school.
            </p>
          <%- end -%>
        </fieldset>

      </div>

      <%= f.govuk_collection_radio_buttons :experience_type, f.object.class::EXPERIENCE_TYPES, :to_s %>

      <%= f.govuk_submit 'Save availability description' %>
    <%- end -%>
  </div>
</div>
