<% self.page_title = 'DBS requirements' %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path, self.page_title => nil
  }
%>

<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for dbs_requirement, url: url, method: method do |f| %>
      <%= f.radio_button_fieldset :requires_check, page_heading: true do |fieldset| %>
        <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

        <%= fieldset.radio_input true do  %>
          <%= f.text_area_with_maxwords :dbs_policy_details, maxwords: { count: 50 } %>
        <% end %>

        <%= fieldset.radio_input false do  %>
          <%= f.text_area_with_maxwords :no_dbs_policy_details, maxwords: { count: 50 } %>
        <% end %>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
