<%- self.page_title = "Change how dates are displayed" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Change how dates are displayed' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @current_school, url: schools_availability_preference_path, method: 'patch' do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <%= f.hidden_field :fixed, value: nil %>

      <%= f.radio_button_fieldset :availability_preference_fixed do |fieldset| %>
        <p>
          Select how you’d like to show your school experience dates to candidates:
        </p>
        <%= fieldset.radio_input(true, 'aria-describedby' => 'availability-preference-fixed-true-hint') %>
        <span id="availability-preference-fixed-true-hint" class="govuk-hint govuk-hint__indented">
          If you do not enter any specific dates then you will not receive
          school experience requests from candidates
        </span>

        <%= fieldset.radio_input(false, 'aria-describedby' => 'availability-preference-fixed-false-hint') %>
        <span id="availability-preference-fixed-false-hint" class="govuk-hint govuk-hint__indented">
          For example, on certain days of the week or around exams, holidays
          and term times
        </span>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
