<%- self.page_title = "Choose how dates are displayed" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Choose how dates are displayed' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @current_school, url: schools_availability_preference_path, method: 'patch' do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
      <%= f.radio_button_fieldset :availability_preference_fixed, choices: %w(true false) do |fieldset| %>

        <%= f.hidden_field :availability_preference_fixed %>

        <%= fieldset.radio_input true, 'aria-describedby': 'bookings-school-availability-preference-fixed-true-hint' %>

        <div id="bookings-school-availability-preference-fixed-true-hint" class="govuk-hint govuk-radios__hint preference-info">
          You must enter specific school experience dates to start receiving requests from candidates

          <div class="govuk-inset-text">
            <h3>Upcoming experience dates</h3>

            <ul class="govuk-list">
              <%- example_future_dates.each do |fd| %>
                <li><%= fd.to_formatted_s(:govuk) %> (1 day)</li>
              <% end %>
            </ul>
          </div>
        </div>

        <%= fieldset.radio_input false, 'aria-describedby': 'bookings-school-availability-preference-fixed-false-hint'  %>

        <div id="bookings-school-availability-preference-fixed-false-hint" class="govuk-hint govuk-radios__hint preference-info">
          For example, on set days of the week or at certain times of the year such as around exams, holidays and busy term times

          <div class="govuk-inset-text">
            <h3>Experience availability</h3>

            <p>We offer career experience placements throughout the school year.</p>
          </div>
        </div>

      <% end %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
