<%- self.page_title = "Availability preference" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    'Availability preference' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @current_school, url: schools_availability_preference_path, method: 'patch' do |f| %>
      <h1 class="govuk-heading-l">School experience availability or fixed dates</h1>

      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <p>
        You need to contact individual candidates to discuss, arrange and offer
        them a placement date after you’ve received their school experience
        request.
      </p>
      <p>
        You should try and respond to requests within 10 working days during
        term time.
      </p>
      <p>
        Once you’ve accepted a request you’ll be asked to confirm the
        candidate’s placement dates as part of confirming their school
        experience booking.
      </p>

      <%= f.hidden_field :fixed, value: nil %>

      <%= f.radio_button_fieldset :availability_preference_fixed do |fieldset| %>
        <p>
          Select whether you’d like to tell candidates about your school
          experience by outlining your school's availability or telling them
          about fixed dates:
        </p>
        <%= fieldset.radio_input true %>

        <%- if @current_school.availability_preference_fixed? && @placement_dates.any? %>
          <%= fieldset.radio_input false do %>
            <span class="govuk-hint">
              If you change your school to use flexible dates all your existing fixed dates
              will be hidden from candidates.
            </span>
          <%- end -%>
        <%- else -%>
          <%= fieldset.radio_input false %>
        <%- end -%>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
