<%- self.page_title = "Review and send rejection email to candidate" %>

<%= govuk_back_link schools_placement_request_path(@cancellation.placement_request) %>

<%= govuk_form_for cancellation, url: schools_placement_request_cancellation_path do |f| %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">
        Review and send rejection email to candidate
      </h1>

      <%= f.govuk_error_summary %>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p>
            Review the following email which will be sent to the candidate. You can add extra details.
          </p>

          <%= render partial: "letter", locals: {
            cancellation: cancellation,
            reason: capture do
              content_tag('div', class: 'editable') do
                f.govuk_radio_buttons_fieldset(
                  :rejection_category,
                  small: true,
                  legend: { class: 'govuk-visually-hidden' }
                ) do
                  safe_join(
                    [
                      Bookings::PlacementRequest::Cancellation::SCHOOL_REJECTION_REASONS
                        .reject { |reason| reason == 'other' }
                        .each_with_index.map do |option, index|
                          f.govuk_radio_button :rejection_category, option, link_errors: index.zero?
                        end,
                      (f.govuk_radio_button :rejection_category, :other do
                        f.govuk_text_area :reason
                      end)
                    ]
                  )
                end
              end
            end,
            extra_details: capture do
              f.govuk_text_area :extra_details,
                rows: 7,
                placeholder: "Add any extra details. For example, you may have availability on a different date or you can offer school experience in another subject",
                label: { class: 'govuk-visually-hidden' }
            end
          } %>

          <section>
            <p>
              <%= f.govuk_submit 'Preview rejection email' %>
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
<% end %>
