<%- self.page_title = 'Access needs details' -%>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for access_needs_detail, url: schools_on_boarding_access_needs_detail_path, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= @current_school.name %></h1>

      <%= f.govuk_text_area :description, rows: 9, label: { tag: "h2", size: "l" } %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
