<%- self.page_title = 'Access needs details' -%>

<%-
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Disability and access needs details for candidates' => nil
  }
-%>

<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @access_needs_detail, url: schools_on_boarding_access_needs_detail_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>
      <%= f.text_area :description, rows: 9, label_options: { overwrite_defaults!: true, class: 'govuk-heading-l' } do %>
        <p>
          Edit and add to the following suggested wording so we can add it to your school profile.
        </p>
        <p>
          <strong>
            Add any details about the kinds of facilities and support you can
            provide for candidates with disabilites and access needs.
          </strong>
        </p>
      <% end %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
