<% self.page_title = 'Which of the following best describes how you feel about teaching?' %>
<%= govuk_back_link %>
<div id="teaching-preference">
  <%= form_for teaching_preference, url: candidates_school_registrations_teaching_preference_path, data: { controller: 'subject-preference-form' } do |f| %>
    <%= f.govuk_error_summary %>

    <%= f.govuk_collection_radio_buttons :teaching_stage, f.object.available_teaching_stages, :to_s, :to_s %>

    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">What subject do you want to teach?</h1>
      </legend>
      <p>
        Select the nearest or equivalent subject and at least 1 subject.
      </p>
      <div class="govuk-form-group">
        <%= f.govuk_collection_select \
          :subject_first_choice,
          f.object.available_subject_choices.sort,
          :to_s,
          :to_s,
          options: { prompt: "Select" },
          class: 'govuk-select govuk-!-width-one-half' %>
      </div>

      <div class="govuk-form-group">
        <%= f.govuk_collection_select \
          :subject_second_choice,
          f.object.second_subject_choices,
          :to_s,
          :to_s,
          class: 'govuk-select govuk-!-width-one-half' %>
      </div>
    </fieldset>

    <%= f.govuk_submit 'Continue' %>
  <% end %>
</div>
