<%- self.page_title = "Send details to candidate" %>

<%= govuk_back_link new_schools_placement_request_acceptance_make_changes_path(@placement_request), javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>Send details to candidate</h1>

    <p>
      The following contains the wording of the confirmation email which will be
      sent to <%= @placement_request.candidate_name %>
      to confirm their booking.
    </p>

    <%= form_for @booking, url: schools_placement_request_acceptance_preview_confirmation_email_path(@placement_request.id) do |f| %>
      <%= f.govuk_error_summary %>
      <div class="email-preview">
        <p>Dear <%= @placement_request.candidate_name %>,</p>

        <p><%= @placement_request.school.name %> have confirmed your school experience booking.</p>

        <% if @booking.virtual_experience? %>
          <%= render partial: 'virtual_sections', locals: { form: f } %>
        <% else %>
          <%= render partial: 'in_school_sections', locals: { form: f } %>
        <% end %>
      </div>

      <p>
        By sending this email you’re confirming, to the best of your knowledge, the
        booking details you’re providing are correct.
      </p>

      <%= f.govuk_submit 'Send confirmation email', class: 'govuk-button', data: { module: 'govuk-button' } %>
    <%- end -%>

  </div>
</div>
