<%= link_to 'Back', schools_dashboard_path, class: 'govuk-back-link' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1>Confirm booking details</h1>

    <dl id="booking-details" class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.school.name %>
        </dd>

        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
          <span class="govuk-visually-hidden"> school</span>
        </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School experience dates
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.availability %>
        </dd>

        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
          <span class="govuk-visually-hidden"> dates</span>
        </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School experience details
        </dt>
        <dd class="govuk-summary-list__value">
         <%= @placement_request.objectives %>
        </dd>

        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
          <span class="govuk-visually-hidden"> experience details</span>
        </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Requested subject
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.subject_first_choice %>
        </dd>

        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
          <span class="govuk-visually-hidden"> subject</span>
        </a>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Request received
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.created_at.to_formatted_s(:govuk) %>
        </dd>

        <dd class="govuk-summary-list__actions">
        <a class="govuk-link" href="#">
          Change
          <span class="govuk-visually-hidden"> received date</span>
        </a>
        </dd>
      </div>

    </dl>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p>Some blurb about who the candidate should contact on the day</p>

        <%= form_for @acceptance, url: schools_placement_request_accept_path, method: :post do |f| %>
          <%= f.text_field :contact_name, 'Contact name' %>
          <%= f.telephone_field :telephone_number, 'Telephone number' %>
          <%= f.email_field :email_address, 'Email address' %>
          <%= f.text_field :location, 'Location' %>
          <%= f.text_field :other_details, 'Other details' %>
          <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
