<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Background and security checks</h1>
    <p>Some schools will carry out these kinds of checks before offering placements.</p>

    <%= form_for @dbs_check do |f| %>
      <%= GovukElementsErrorsHelper.error_summary @dbs_check, 'There is a problem', '' %>
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">Do you have a Disclosure and Barring Service (DBS) check document?</h1>
        </legend>
      </fieldset>

      <% # force the params to submit if the user has not selected an option %>
      <%= f.hidden_field :has_dbs_check, value: nil %>

      <%= f.radio_button_fieldset :has_dbs_check do |fieldset| %>
        <%= fieldset.radio_input true %>
        <%= fieldset.radio_input false do %>
          <div class="govuk-form-group">
            <%= label_tag 'message', class: 'govuk-label' do %>
              Don't worry if you don’t have one but some schools may ask you to get one before you can go on their placements.
            <% end %>
          </div>
        <% end %>
      <% end %>

      <p class="govuk-inset-text">
        Find out more about <%= link_to 'DBS checks and documents.', 'https://www.gov.uk/government/organisations/disclosure-and-barring-service/about' %>
      </p>

      <fieldset class="govuk-fieldset">
        <%= f.submit 'Continue' %>
      </fieldset>
    <% end %>
  </div>
</div>
