<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Rejected requests' => nil
  }
%>

<div id="withdrawn-requests-index" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= page_heading 'Rejected requests' %>

    <% if @requests.any? %>
      <div class="pagination-info higher">
        <div class="pagination-slice">
          <%= page_entries_info @requests %>
        </div>
        <%= paginate @requests %>
      </div>

      <table id="rejected-requests" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Subject</th>
            <th class="govuk-table__header" scope="col">Date requested</th>
            <th class="govuk-table__header" scope="col">Reason for rejection</th>
            <th class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%- @requests.each do |rejected_request| -%>
            <tr class="rejected-request govuk-table__row" data-placement-request-id="<%= rejected_request.id %>">
              <td class="name govuk-table__cell">
                <%= rejected_request.candidate_name %>
              </td>
              <td class="subject govuk-table__cell">
                <%- if rejected_request&.placement_date&.subject_specific && rejected_request.subject -%>
                  <%= rejected_request.subject.name %>
                <%- else -%>
                  <em>Not specified</em>
                <%- end -%>
              </td>
              <td class="date govuk-table__cell">
                <%- if rejected_request.placement_date -%>
                  <%= rejected_request.placement_date.date.to_formatted_s(:govuk) %>
                <%- else -%>
                  <%= rejected_request.availability.truncate(20) %>
                <%- end -%>
              </td>
              <td class="reason govuk-table__cell">
                <%= rejected_request.school_cancellation.rejection_description.truncate(80) %>
              </td>
              <td class="govuk-table__cell">
                <%= link_to "View", schools_rejected_request_path(rejected_request),
                  'aria-label': "View booking for #{rejected_request.candidate_name}, requested on #{rejected_request.created_at.to_formatted_s(:govuk)}" %>
              </td>
            </tr>
          <%- end -%>
        </tbody>
      </table>

      <div class="pagination-info lower">
        <%= paginate @requests %>
      </div>

    <% else %>
      <p>
        There are no rejected requests.
      </p>
    <% end %>

    <%= govuk_link_to "Return to requests and bookings", schools_dashboard_path, secondary: true %>
  </div>
</div>
