<% self.page_title = 'Choose a school experience date' %>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row" id="placement-preference">
  <div class="govuk-grid-column-full">
    <%= form_for subject_and_date_information, url: candidates_school_registrations_subject_and_date_information_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">Choose a date</h1>

      <%= f.hidden_field :date_and_subject_ids %>

      <p>
        <% if @subject_and_date_information.has_primary_and_secondary_dates? %>
          For secondary school dates, you can also choose a subject.
        <% end %>
      </p>

      <section class="<%= subject_and_date_section_classes(subject_and_date_information) %>">

        <%- if @subject_and_date_information.has_primary_dates? %>
          <section class="date-selector date-selector-primary">
            <h3 class="govuk-heading-m">Primary school dates</h3>

            <%= f.govuk_radio_buttons_fieldset(:date_and_subject_ids) do %>
              <% format_primary_date_options(@subject_and_date_information.primary_placement_dates).each_with_index do |option, index| %>
                <%= f.govuk_radio_button :date_and_subject_ids, option.first, label: {
                  text: option.last,
                  id: placement_date_anchor(@subject_and_date_information.primary_placement_dates[index])
                }, link_errors: index.zero? %>
              <% end %>
            <% end %>
          </section>
        <%- end -%>

        <%- if @subject_and_date_information.has_secondary_dates? %>
          <h3 class="govuk-heading-m">Secondary school dates</h3>

          <dl class="govuk-summary-list govuk-summary-list">
          <% @subject_and_date_information.secondary_placement_dates_grouped_by_date.each do |date, secondary_placement_dates| %>

            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                <span id="<%= placement_date_anchor(secondary_placement_dates.first) %>"><%= date.to_formatted_s(:govuk) %></span>
                <%= placement_date_experience_type_tag secondary_placement_dates.first.virtual %>
              </dt>

              <dd class="govuk-summary-list__value date-selector date-selector-secondary">
                <%= f.govuk_collection_radio_buttons :date_and_subject_ids,
                  secondary_placement_dates.sort,
                  :id, :name_with_duration, include_hidden: false %>
              </dd>
            </div>
          <% end %>
          </dl>

        <% end %>

      </section>

      <%= f.govuk_submit 'Continue' %>
    <% end %>

  </div>
</div>
