<div id="school-booking-show-<%= booking.id %>" class="booking school-booking-show">
  <%= render partial: 'schools/placement_requests/personal_details', object: booking.gitis_contact %>
  <%= render partial: 'schools/confirmed_bookings/booking_details', object: booking %>
  <%= render partial: 'schools/placement_requests/candidate_details', object: booking.bookings_placement_request %>

  <% if booking.cancellation %>
    <%= render 'schools/confirmed_bookings/cancellation', cancellation: booking.cancellation %>
  <% elsif booking.cancellable? %>
    <div>
      <%= govuk_link_to 'Cancel booking', new_schools_booking_cancellation_path(booking), secondary: true %>
    </div>
  <% end %>
</div>