<%- self.page_title = "Manage bookings" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Bookings' => nil
  }
%>

<div id="bookings-index" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Manage bookings</h1>

    <% if @bookings.any? %>
      <%= pagination_bar @bookings %>

      <%= render partial: 'schools/confirmed_bookings/booking_table', locals: { bookings: @bookings } %>

      <%= pagination_lower @bookings %>

    <% else %>
      <p>
        There are no upcoming bookings.
      </p>
    <% end %>
    <p>
      <%= link_to "Download your requests and bookings", schools_csv_export_path %> as a CSV export.
    </p>
  </div>

  <div class="govuk-grid-column-full">
    <%= govuk_link_to "Return to dashboard", schools_dashboard_path, secondary: true %>
  </div>
</div>
