<%- self.page_title = "Manage bookings" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Manage bookings' => nil
  }
%>

<div id="bookings-index" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Manage bookings</h1>

    <p>
      The following <strong>only lists bookings</strong> made on or after <strong><%= phase_three_release_date %></strong>.
    </p>

    <p>
      You'll need to refer to <strong>your own records</strong> for any bookings made before this date.
    </p>

    <% if @bookings.any? %>
      <div class="pagination-info higher">
        <div class="pagination-slice">
          <%= page_entries_info @bookings %>
        </div>
        <%= paginate @bookings %>
      </div>

      <%= render partial: 'schools/confirmed_bookings/booking_table', locals: { bookings: @bookings } %>

      <div class="pagination-info lower">
        <%= paginate @bookings %>
      </div>

    <% else %>
      <p>
        There are no bookings.
      </p>
    <% end %>

    <div>
      <%= govuk_link_to "Return to requests and bookings", schools_dashboard_path, secondary: true %>
    </div>
  </div>
</div>
