<% self.page_title = 'Enter your personal details' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%- if Rails.application.config.x.phase >= 3 -%>
      Check if we already have your details
      <%- else -%>
      Enter your details
      <%- end -%>
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Provide the following information so we can check if we already have
          your details.
        </p>

        <%- if Rails.application.config.x.phase >= 3 -%>
        <p>
          If we already have your details - we'll automatically add them to your
          school experience request.
        </p>

        <p>
          If we don’t - we’ll register them with DfE’s Get Into Teaching service
          so you can get help and advice about becoming a teacher.
        </p>
        <%- end -%>

        <%= form_for personal_information, url: candidates_school_registrations_personal_information_path do |f| %>
          <%= GovukElementsErrorsHelper.error_summary personal_information, 'There is a problem', '' %>

          <%= f.text_field :first_name, autocomplete: 'given-name' %>
          <%= f.text_field :last_name, autocomplete: 'family-name' %>
          <%= f.email_field :email, autocomplete: 'on',
                readonly: personal_information.read_only_email,
                disabled: personal_information.read_only_email %>
          <%= f.date_field :date_of_birth, heading: true %>

          <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
