<% self.page_title = 'Enter your personal details' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Enter your personal details</h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Your details will be used by schools to contact you about school
          experience once you’ve sent them a request.
        </p>

        <%= form_for personal_information, url: candidates_school_registrations_personal_information_path do |f| %>
          <%= GovukElementsErrorsHelper.error_summary personal_information, 'There is a problem', '' %>

          <%= f.text_field :first_name, autocomplete: 'given-name' %>
          <%= f.text_field :last_name, autocomplete: 'family-name' %>
          <%= f.email_field :email, autocomplete: 'on' %>

          <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
