<% self.page_title = 'Enter your personal details' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      Check if we already have your details
    </h1>
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Provide the following information so we can check if we already have
          your details.
        </p>

        <p>
          If we already have your details - we'll automatically add them to your
          school experience request.
        </p>

        <p>
          If we don’t - we’ll register them with DfE’s Get Into Teaching service
          so you can get help and advice about becoming a teacher.
        </p>

        <%= form_for personal_information,
              url: candidates_school_registrations_personal_information_path,
              html: { onsubmit: 'preventDoubleClick(this)' } do |f| %>

          <%= GovukElementsErrorsHelper.error_summary personal_information, 'There is a problem', '' %>

          <%= f.text_field :first_name, autocomplete: 'given-name',
                readonly: personal_information.read_only,
                disabled: personal_information.read_only %>

          <%= f.text_field :last_name, autocomplete: 'family-name',
                readonly: personal_information.read_only,
                disabled: personal_information.read_only %>

          <%= f.email_field :email, autocomplete: 'on',
                readonly: personal_information.read_only,
                disabled: personal_information.read_only %>

          <%= f.date_field :date_of_birth, heading: true, date_of_birth: true,
                readonly: personal_information.read_only,
                disabled: personal_information.read_only %>

          <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
