<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">School experience placements near <%= @search.query.to_s.humanize %></h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third filter">
        <%= form_for @search, as: '', method: :get do |f| %>
            <%= f.hidden_field :query %>
            <%= f.hidden_field :distance %>

            <%= f.collection_check_boxes :phase, Candidate::School::PHASES, :first, :last %>

            <%= f.radio_button_fieldset :fees, choices: Candidate::School::FEES,
                                                value_method: :first,
                                                text_method: :last %>

            <%= f.collection_check_boxes :subject, Candidate::School::SUBJECTS, :to_s, :to_s %>
        <% end %>
    </div>

	<div class="govuk-grid-column-two-thirds results">

		<p class="results-number">
			Showing 1 - <%= @search.results.length %> of <%= @search.total_results %> schools and colleges
		</p>
		<div class="pagination-container">
			<ul class="pagin">
				<li><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">Next</a></li>
			</ul>
		</div>

		<div class="govuk-grid-row">

			<div class="govuk-grid-column-full">
				<div class="divider"></div>
				<div class="sortby">
					<div class="sort-text">Sorted by</div>
					<div class="drop">
						<select name="orderby" id="OrderBy" aria-controls="js-search-results-info" class="select">
							<option value="" selected="">Distance</option>
							<option value="SCHNAME_sort asc">Alphabetical A - Z</option>
							<option value="SCHNAME_sort desc">Alphabetical Z - A</option>
						</select>
					</div>
				</div>

				<div class="list">
					<ul>
                        <% for result in @search.results %>
						<li>
							<div class="school-result">
								<form action="/candidate-search/search-result-post" title="{{item.Name}}" method="post">

									<input type="submit" name="school-name" value="{{item.Name}}" class="govuk-label link-fix" />
									<ul>
										<li>Address: <%= result.address %></li>
										<li>Education phase: <%= result.phase %></li>
										<li>Fees: <%= result.fees %></li>
										<li>School type: <%= result.school_type %></li>
										<li>Subjects: <%= result.subjects %></li>
									</ul>
								</form>

							</div>
						</li>
                        <% end %>
					</ul>
				</div>
			</div>

		</div>


    </div>




</div>