<%- self.page_title = title -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    title => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= title %>
    </h1>

    <%= form_for model, url: submission_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary model, 'There is a problem', '' %>
      <%= f.pounds_field :amount_pounds, width: 5, step: 0.01, min: 0, max: 9999.99 %>
      <%= f.text_area :description, rows: 7, width: 'govuk-input--width-15' %>
      <%= f.radio_button_fieldset :interval do |fieldset| %>
        <% f.object.available_intervals.each do |interval| %>
          <%= fieldset.radio_input interval %>
        <% end %>
      <% end %>
      <%= f.text_area :payment_method, rows: 7, width: 'govuk-input--width-15' %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>

