<% self.page_title = 'Set date options' %>
<% content_for :back_link do govuk_back_link(edit_schools_placement_date_path(@placement_date)); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @configuration, method: :post, url: schools_placement_date_configuration_path(@placement_date) do |f| %>
      <%= f.govuk_error_summary %>

      <%- if @placement_date.supports_subjects? -%>
        <%= f.hidden_field :available_for_all_subjects, value: nil %>

        <%= f.govuk_radio_buttons_fieldset :available_for_all_subjects, legend: { tag: "h1", size: "l" } do %>
          <p>
            Tell us if this is a general experience <strong>or</strong> is
            specific to a subject.
          </p>
          <%= f.govuk_radio_button :available_for_all_subjects, true, link_errors: true %>
          <%= f.govuk_radio_button :available_for_all_subjects, false, label: { text: t("helpers.label.schools_placement_dates_configuration_form.available_for_all_subjects_options.false") } %>
        <% end %>
      <% end %>

      <% if Feature.enabled? :capped_bookings %>
        <%= f.govuk_radio_buttons_fieldset :has_limited_availability do %>
          <p>
            Once you’ve accepted the maximum number of bookings this date will not be shown to candidates.
          </p>

          <%= f.govuk_radio_button :has_limited_availability, true, link_errors: true do %>
            <%= f.govuk_number_field :max_bookings_count, class: 'govuk-!-width-one-half' %>
          <% end %>
          <%= f.govuk_radio_button :has_limited_availability, false, label: { text: t("helpers.label.schools_placement_dates_configuration_form.has_limited_availability_options.false") } %>
        <% end %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
