<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h1 class="govuk-heading-l">Check if we already have your details</h1>
    <p>
      If you’ve already passed them on at a teaching event or via the
      <%= link_to 'Get Into Teaching', 'https://getintoteaching.education.gov.uk' %>
      website, we can use them to speed up your placement request.
    </p>

    <%= form_for @account_check, url: candidates_registrations_account_check_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary @account_check, 'There is a problem', '' %>
      <fieldset class="govuk-fieldset">
        <%= f.text_field :full_name %>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <%= f.email_field :email %>
      </fieldset>

      <fieldset class="govuk-fieldset">
        <%= f.submit 'Continue' %>
      </fieldset>
    <% end %>
  </div>
</div>
