<%- self.page_title = 'Disability Confident' -%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for disability_confident, url: schools_on_boarding_disability_confident_path, method: method do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.hidden_field :is_disability_confident, value: nil %>
      <%= f.govuk_radio_buttons_fieldset :is_disability_confident, legend: { tag: "h1", size: "l" } do %>

        <div>
          <%= image_pack_tag 'disability-confident-small.png', alt: 'Disability confident logo' %>
          <span class="govuk-hint">
            This was previously known as the 'Two Ticks scheme'
          </span>
        </div>

        <%= f.govuk_radio_button :is_disability_confident, "true", link_errors: true %>
        <%= f.govuk_radio_button :is_disability_confident, "false" %>
      <% end %>

      <p>
        Check if you're already signed up to the
        <%= link_to 'scheme',
          'https://www.gov.uk/government/publications/disability-confident-employers-that-have-signed-up' %>.
      </p>

      <p>
        Find out more about how to become a
        <%= link_to 'Disability Confident employer.',
          'https://disabilityconfident.campaign.gov.uk/' %>
      </p>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
