<div class="booking">
  <h2 class="govuk-heading-m">Booking by <%= booking.candidate.full_name %></h2>

  <dl class="placement-details govuk-summary-list">
    <div class="date-requested govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Dates requested
      </dt>
      <dd class="govuk-summary-list__value">
        <%= booking.dates_requested %>
      </dd>
    </div>

    <div class="date-received-on govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Request received
      </dt>
      <dd class="govuk-summary-list__value">
        <%= booking.received_on %>
      </dd>
    </div>

    <div class="contact-details govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Contact details
      </dt>
      <dd class="govuk-summary-list__value">

        <details class="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              View contact details
            </span>
          </summary>

          <div class="govuk-details__text">
            <dl class="govuk-summary-list govuk-summary-list--no-border govuk-body govuk-!-font-size-16">
              <div class="address govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= booking.candidate.building %>,
                  <%= booking.candidate.town_or_city %>,
                  <%= booking.candidate.postcode %>
                </dd>
              </div>

              <div class="phone-number govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  UK telephone number
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= booking.candidate.phone %>
                </dd>
              </div>

              <div class="email-address govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  <%= booking.candidate.email %>
                </dd>
              </div>

            </dl>
          </div>
        </details>

      </dd>
    </div>

    <div class="teaching-stage govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Teaching stage
      </dt>
      <dd class="govuk-summary-list__value">
        <%= booking.teaching_stage %>
      </dd>
    </div>

    <div class="teaching-subject govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Teaching subject
      </dt>
      <dd class="govuk-summary-list__value">
        <%= booking.teaching_subject %>
      </dd>
    </div>

    <div class="status govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Status
      </dt>
      <dd class="govuk-summary-list__value">
        <span class="govuk-tag"><%= booking.status %></span>
      </dd>
    </div>
  </dl>

  <%= link_to "Open booking", schools_booking_path('abc123'), class: 'govuk-button' %>

</div>
