<%- self.page_title = 'Select school experience subjects' %>
<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Select school experience subjects' => nil
  }
%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Select school experience subjects
    </h1>
    <%= govuk_form_for subject_list, url: schools_on_boarding_subjects_path, method: method do |f| %>
      <%= f.govuk_error_summary %>
      <p>
        Tell us which subjects you offer for secondary school experience and
        select continue.
      </p>
      <p class="govuk-hint">
        This will help candidates select a secondary school experience.
      </p>

      <%= f.govuk_collection_check_boxes :subject_ids,
        f.object.available_subjects,
        :id,
        :name,
        legend: { class: 'govuk-visually-hidden' } %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
