<tr class="govuk-table__row placement-request" data-placement-request="<%= placement_request.id %>" data-urn="<%= placement_request.urn %>">
  <td class="govuk-table__cell">
    <%= placement_request.candidate.full_name %>
  </td>
  <td class="govuk-table__cell">
    <span class="govuk-tag">
      <%= placement_request.status %>
    </span>
  </td>
  <td class="govuk-table__cell">
    <%= placement_request.subject_first_choice %>
  </td>
  <td class="govuk-table__cell">
    <%= placement_request.dates_requested %>
  </td>
  <td class="govuk-table__cell">
    <%= link_to "View", schools_placement_request_path(placement_request) %>
  </td>
</tr>
