<tr class="govuk-table__row placement-request" data-placement-request="<%= placement_request.id %>" data-urn="<%= placement_request.urn %>">
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <%= placement_request.gitis_contact.full_name %>
  </td>
  <td class="govuk-table__cell">
    <%= placement_request_status(placement_request) %>
  </td>
  <td class="govuk-table__cell">
    <%= placement_request.requested_subject %>
  </td>
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <%= placement_request.dates_requested %>
  </td>
  <td class="govuk-table__cell">
    <%= link_to "View", schools_placement_request_path(placement_request),
      'aria-label': "View placement request for #{placement_request.gitis_contact.full_name} #{placement_request.dates_requested}" %>
  </td>
</tr>
