<tr class="govuk-table__row placement-request" data-placement-request="<%= placement_request.id %>" data-urn="<%= placement_request.urn %>">
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <%= placement_request.gitis_contact.full_name %>
  </td>
  <td class="govuk-table__cell">
    <% if !placement_request.viewed? %>
      <span class="govuk-tag">
        <%= placement_request.status %>
      </span>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= placement_request.subject_first_choice %>
  </td>
  <td class="govuk-table__cell govuk-!-font-weight-bold">
    <%= placement_request.dates_requested %>
  </td>
  <td class="govuk-table__cell">
    <%= link_to "View", schools_placement_request_path(placement_request) %>
  </td>
</tr>
