<% self.page_title = "All placement requests" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_back_link schools_dashboard_path %>

    <h1>Manage requests</h1>

    <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
      <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
          Important
        </h2>
      </div>
      <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
          If you have expired requests due to COVID-19, contact our support team to clear them.
          <%= link_to 'Contact Support.', schools_contact_us_path, class: 'govuk-notification-banner__link' %>
        </p>
      </div>
    </div>

    <% if @placement_requests.any? %>
      <%= pagination_bar @placement_requests %>

      <%= render partial: 'schools/placement_requests/placement_requests_table',
        locals: { placement_requests: @placement_requests } %>

      <%= pagination_lower @placement_requests %>

    <% else %>
      <p>
        There are no requests.
      </p>
    <% end %>

    <p>
      <%= link_to "Download your requests and bookings", schools_csv_export_path %> as a CSV export.
    </p>

    <%= govuk_link_to "Return to requests and bookings", schools_dashboard_path, secondary: true %>
  </div>
</div>
