<% self.page_title = "All placement requests" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= govuk_back_link schools_dashboard_path %>

    <h1>Manage requests</h1>

    <div class="govuk-inset-text">
      We now hide expired requests after 30 days. If you need to view them and accept or decline them, view the <%= link_to 'archived requests' , schools_archived_placement_requests_path, class: 'govuk-notification-banner__link' %> page
    </div>

    <% if @placement_requests.any? %>
      <%= pagination_bar @placement_requests %>

      <%= render partial: 'schools/placement_requests/placement_requests_table',
        locals: { placement_requests: @placement_requests } %>

      <%= pagination_lower @placement_requests %>

    <% else %>
      <p>
        There are no requests.
      </p>
    <% end %>

    <p>
      <%= link_to "Download your requests and bookings", schools_csv_export_path %> as a CSV export.
    </p>

    <%= govuk_link_to "Return to dashboard", schools_dashboard_path, secondary: true %>
  </div>
</div>
