<% self.page_title = "Request #{@placement_request.id}" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Requests' => schools_placement_requests_path,
    "Request" => nil
  }
%>

<%= govuk_back_link schools_placement_requests_path %>

<% if @placement_request.candidate_cancellation&.sent? %>
  <h1><%= @gitis_contact.full_name %> has withdrawn their request</h1>
<% elsif @placement_request.school_cancellation&.sent? %>
  <h1>This request from <%= @gitis_contact.full_name %> has been rejected</h1>
<% else %>
  <h1>Request from <%= @gitis_contact.full_name %></h1>
<% end %>

<div class="school-request">

  <% if @placement_request.cancelled? %>
    <%= render "cancellation", cancellation: @placement_request.cancellation %>
  <% end %>

  <section id="personal-details">
    <h2>Personal details</h2>

    <dl class="placement-details govuk-summary-list">
      <div class="address govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @gitis_contact.address %>
        </dd>
      </div>

      <div class="phone-number govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          UK telephone number
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @gitis_contact.phone %>
        </dd>
      </div>

      <div class="email-address govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Email address
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @gitis_contact.email %>
        </dd>
      </div>
    </dl>
  </section>

  <section id="request-details">
    <h2>Request details</h2>

    <dl class="placement-details govuk-summary-list">

      <div class="date-requested govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Dates requested
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.dates_requested %>
        </dd>
      </div>

      <% if @placement_request.subject.present? %>
        <div class="date-requested govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Requested subject
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @placement_request.requested_subject.name %>
          </dd>
        </div>
      <% end %>

      <div class="date-received-on govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Request received
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.received_on.to_formatted_s(:govuk) %>
        </dd>
      </div>

      <div class="dbs-certificate govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          DBS certificate
        </dt>
        <dd class="govuk-summary-list__value">
          <%= format_boolean(@placement_request.has_dbs_check?) %>
        </dd>
      </div>

    </dl>
  </section>

  <section id="candidate-details">
    <h2>Candidate details</h2>

    <dl class="candidate-details govuk-summary-list">
      <div class="objectives govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          What they want out of school experience
        </dt>
        <dd class="govuk-summary-list__value">
          <%= safe_format @placement_request.objectives %>
        </dd>
      </div>

      <div class="degree-stage govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree stage
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.degree_stage %>
          <% if @placement_request.degree_stage_explaination.present? %>
            - <%= @placement_request.degree_stage_explaination %>
          <% end %>
        </dd>
      </div>

      <div class="degree-subject govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree subject
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.degree_subject %>
        </dd>
      </div>

      <div class="teaching-tage govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Teaching stage
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.teaching_stage %>
        </dd>
      </div>

      <div class="teaching-tage govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Preferred subjects
        </dt>
        <dd class="govuk-summary-list__value">
          <ol class="govuk-list govuk-list--number">
            <li><%= @placement_request.subject_first_choice %></li>

            <%- if @placement_request.subject_second_choice.present? -%>
              <li><%= @placement_request.subject_second_choice %></li>
            <%- end -%>
          </ol>
        </dd>
      </div>

    </dl>
  </section>

  <%- if @attendance.any_stats? -%>
  <section id="candidate-details">
    <h2>Past attendance</h2>

    <dl class="bookings-attendance govuk-summary-list">
      <%= summary_row 'Attended', @attendance.attended_count,
            schools_placement_request_past_attendances_path(@placement_request),
            'View' %>

      <%= summary_row 'Did not attend', @attendance.did_not_attend_count,
            schools_placement_request_past_attendances_path(@placement_request),
            'View' %>
    </dl>
  </section>
  <%- end -%>

  <div class="request-options">
    <% if @placement_request.open? %>
      <div class="accept-or-reject">
        <div class="govuk-se-button-container">
          <% if @placement_request.fixed_date_is_bookable? %>
            <%= govuk_link_to "Accept request", new_schools_placement_request_acceptance_confirm_booking_path(@placement_request) %>
          <% else %>
            <%= govuk_link_to "Accept request", new_schools_placement_request_acceptance_make_changes_path(@placement_request) %>
          <% end %>
        </div>
        <div class="govuk-se-button-container">
          <div>
            <%= govuk_link_to "Reject request", new_schools_placement_request_cancellation_path(@placement_request), secondary: true %>
          </div>
        </div>
      </div>
    <% end %>
    <div>
      <%= link_to 'Your requests', schools_placement_requests_path, class: 'govuk-link' %>
    </div>
  </div>
</div>
