<%= form_for form, url: schools_csv_export_path do |f| %>
  <%= f.govuk_error_summary %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <%= f.govuk_date_field :from_date %>
    </div>
    <div class="govuk-grid-column-one-half">
      <%= f.govuk_date_field :to_date %>
    </div>
  </div>
  <div class="govuk-button-group">
    <%= f.govuk_submit("Export CSV") %>
    <%= govuk_link_to "Return to dashboard", schools_dashboard_path, secondary: true %>
  </div>
<% end %>
