<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds" id="candidate-school-profile">
    <%- if @presenter.description_details.present? -%>
    <section id="school-placement-info">
      <%= simple_format @presenter.description_details %>
    </section>
    <%- end -%>

    <div>
      <h2>
        Experience information
      </h2>

      <dl class="govuk-summary-list govuk-summary-list--no-border inline">
        <%= dlist_item 'Individual requirements:' do %>
          <%= content_or_msg @presenter.individual_requirements, "No requirements specified" %>
        <% end %>

        <%= dlist_item 'Experience details:' do %>
          <%= content_or_msg @presenter.experience_details, "No information supplied" %>
        <% end %>

        <%= dlist_item 'Experience subjects:', id: "school-subjects" do %>
          <%= format_school_subjects @presenter.school %>
        <% end %>
      </dl>
    </div>

    <div>
      <h2>Location</h2>

      <%= school_location_map @presenter.school %>

      <p class="directions-link">
        <%= link_to 'Get directions', external_map_url(
              latitude: @presenter.school.coordinates.latitude,
              longitude: @presenter.school.coordinates.longitude,
              name: @presenter.school.name) %>
      </p>
    </div>

    <div>
      <h2>About our school</h2>

      <dl class="govuk-summary-list govuk-summary-list--no-border inline">
        <%= dlist_item 'Age range:', id: 'school-phases' do %>
          <%= format_phases(@presenter.school) %>
        <% end %>
      </dl>

      <p>
        <strong>
          For more information about our school use the following links:
        </strong>
      </p>

      <ul id="school-websites">
        <%- if @presenter.website.present? -%>
        <li id="school-website">
          <%= link_to "#{@presenter.school.name} website", @presenter.website %>
        </li>
        <%- end -%>

        <li>
          <%= link_to "#{@presenter.school.name} Get Information About Schools",
                      gias_school_url(@presenter.urn) %>
        </li>

        <li>
          <%= link_to "Ofsted report: #{@presenter.school.name}",
                      ofsted_report_url(@presenter.urn) %>
        </li>

        <li>
          <%= link_to "Performance information: #{@presenter.school.name}",
                      performance_report_url(@presenter.urn) %>
        </li>

        <%- if @presenter.teacher_training_url.present? -%>
        <li>
          <%= link_to "Teacher training: #{@presenter.name}",
            cleanup_school_url(@presenter.teacher_training_url) %>
        </li>
        <%- end -%>
      </ul>
    </div>

    <% if include_candidate_request_links %>
      <div class="school-start-request-button__tablet_plus">
        <%= link_to "Start request",
                    new_candidates_school_registrations_personal_information_path(@presenter.school),
                    class:"govuk-button" %>
      </div>

      <p>
        <%= link_to 'Back to Search Results', :back,
                    data: {controller: 'back-link'} %>
      </p>
    <% end %>
  </div>

  <div class="candidate-profile-sidebar govuk-grid-column-one-third column-top-border">
    <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
      <%= dlist_item 'Address', id: 'school-address' do %>
        <%= format_school_address @presenter.school, tag(:br) %>
      <% end %>

      <div id="school-availability-info" class="govuk-summary-list__row">
        <%- if @presenter.school.availability_preference_fixed? -%>
          <%= render partial: 'candidates/schools/placement_dates', locals: { available_dates: @presenter.available_dates } %>
        <%- else -%>
          <dt class="govuk-summary-list__key">
            Placement availability
          </dt>
          <dd class="govuk-summary-list__value">
            <%= format_school_availability(@presenter.availability_info) %>
          </dd>
        <%- end -%>
      </div>

      <%= dlist_item 'DBS check required', id: 'dbs-check-info' do %>
        <p>
          <%= @presenter.dbs_required %>
        </p>

        <%= simple_format @presenter.dbs_policy if @presenter.dbs_policy %>
      <% end %>

      <%= dlist_item 'Administration fees', id: 'administration-fee-info' do %>
        <p>
          <%= number_to_currency @presenter.administration_fee_amount_pounds %>
          <%= @presenter.administration_fee_interval %>,
          <%= @presenter.administration_fee_payment_method %>
        </p>

        <%= simple_format @presenter.administration_fee_description %>
      <% end if @presenter.administration_fee_amount_pounds %>

      <%= dlist_item 'DBS check fees', id: 'dbs-fee-info' do %>
        <p>
          <%= number_to_currency @presenter.dbs_fee_amount_pounds %>
          <%= @presenter.dbs_fee_interval %>,
          <%= @presenter.dbs_fee_payment_method %>
        </p>

        <%= simple_format @presenter.dbs_fee_description %>
      <% end if @presenter.dbs_fee_amount_pounds %>

      <%= dlist_item 'Other fees', id: 'other-fee-info' do %>
        <p>
          <%= number_to_currency @presenter.other_fee_amount_pounds %>
          <%= @presenter.other_fee_interval %>,
          <%= @presenter.other_fee_payment_method %>
        </p>

        <%= simple_format @presenter.other_fee_description %>
      <% end if @presenter.other_fee_amount_pounds %>

      <%= dlist_item 'Dress code', id: 'dress-code' do %>
        <%= content_or_msg @presenter.formatted_dress_code, "No dress code supplied" %>
      <% end %>

      <%= dlist_item 'Experience start and finish times' do %>
        <p>
          <%= @presenter.start_time %> to <%= @presenter.end_time %>

          <%- if @presenter.flexible_on_times -%>
            - Flexible
          <%- end -%>
        </p>

        <%- if @presenter.flexible_on_times_details.present? -%>
        <%= simple_format @presenter.flexible_on_times_details %>
        <%- end -%>
      <% end %>

      <%= dlist_item 'Parking' do %>
        <%- if @presenter.parking_provided -%>
          <p>Yes - on site parking provided</p>
        <%- else -%>
          <p>Not available on site</p>
        <%- end -%>

        <%= simple_format @presenter.parking_details %>
      <% end %>

      <%= dlist_item 'Accessibility details' do %>
        <%- if @presenter.disabled_facilities.present? -%>
          <%= simple_format @presenter.disabled_facilities %>
        <%- else -%>
          <em>No information supplied</em>
        <%- end -%>
      <% end %>

      <%= dlist_item 'Teacher training offered', id: 'school-teacher-training-info' do %>
        <%= simple_format @presenter.teacher_training_info %>

        <p>
          <%= link_to 'More information', @presenter.teacher_training_url %>
        </p>
      <% end if @presenter.teacher_training_info.present? %>
    </dl>

    <% if include_candidate_request_links %>
      <div class="school-start-request-button__mobile">
        <%= link_to "Start request",
                    new_candidates_school_registrations_personal_information_path(@presenter.school),
                    class:"govuk-button" %>
      </div>
    <% end %>
  </div>
</div>
