<div class="govuk-grid-row school-profile">
  <div class="govuk-grid-column-two-thirds">
    <% if @presenter.description_details.present? %>
    <section id="school-placement-info" class="govuk-!-margin-bottom-8">
      <%= safe_format @presenter.description_details %>
    </section>
    <% end %>

    <nav class="gem-c-contents-list govuk-!-margin-bottom-8">
      <h2 class="gem-c-contents-list__title">Contents</h2>
      <ol class="gem-c-contents-list__list">
        <%= contents_list_item("About our school experience", "#about-our-school-experience") %>
        <%= contents_list_item("Entry requirements", "#entry-requirements") %>
        <% if @presenter.school.availability_preference_fixed? %>
          <%= contents_list_item("Placement dates", "#placement-dates") %>
        <% else %>
          <%= contents_list_item("Placement availability", "#placement-availability") %>
        <% end %>
        <%= contents_list_item("Fees", "#fees") if @presenter.has_fees? %>
        <%= contents_list_item("Location", "#location") %>
      </ol>
    </nav>

    <h2 id="about-our-school-experience">About our school experience</h2>

    <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
      <%= dlist_item "Details", id: "experience-details" do %>
        <%= conditional_format content_or_msg @presenter.experience_details, "No information supplied" %>
      <% end %>

      <%= dlist_item "Start and finish times", id: "start-and-finish-times" do %>
        <%= @presenter.start_time %> to <%= @presenter.end_time %>

        <% if @presenter.flexible_on_times %>
          - Flexible
        <% end %>

        <% if @presenter.flexible_on_times_details.present? %>
          <%= safe_format @presenter.flexible_on_times_details %>
        <% end %>
      <% end %>

      <%= dlist_item "Dress code", id: "dress-code" do %>
        <%= content_or_msg @presenter.formatted_dress_code, "No dress code supplied" %>
      <% end %>

      <%= dlist_item "Teacher training", id: "teacher-training" do %>
        <%= safe_format @presenter.teacher_training_info %>

        <p>
          <%= link_to "Find out more about our teacher training", @presenter.teacher_training_url %>
        </p>
      <% end if @presenter.teacher_training_info.present? %>
    </dl>

    <p><strong>Links to more information about our school</strong></p>

    <ul id="school-websites" class="govuk-list govuk-!-margin-bottom-8">
      <% if @presenter.website.present? %>
        <li id="school-website">
          <%= link_to "#{@presenter.school.name} website", @presenter.website %>
        </li>
      <% end %>

      <li>
        <%= link_to "#{@presenter.school.name} Get Information About Schools", gias_school_url(@presenter.urn) %>
      </li>

      <li>
        <%= link_to "Ofsted report: #{@presenter.school.name}", ofsted_report_url(@presenter.urn) %>
      </li>

      <li>
        <%= link_to "Performance information: #{@presenter.school.name}", performance_report_url(@presenter.urn) %>
      </li>

      <% if @presenter.teacher_training_url.present? %>
      <li>
        <%= link_to "Teacher training: #{@presenter.name}", cleanup_school_url(@presenter.teacher_training_url) %>
      </li>
      <% end %>
    </ul>

    <div id="entry-requirements">
      <h2>Entry requirements</h2>

      <p>You must:</p>
      <ul class="govuk-list govuk-list--bullet">
        <%= content_or_msg split_to_list(@presenter.individual_requirements), "No requirements specified" %>
      </ul>
    </div>

    <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
      <%= dlist_item "DBS check required", id: "dbs-check-info" do %>
        <p>
          <%= @presenter.dbs_required %>.
          <%= safe_format(@presenter.dbs_policy, wrapper_tag: "span") if @presenter.dbs_policy %>
        </p>
      <% end %>
    </dl>

    <% if @presenter.school.availability_preference_fixed? %>
      <h2 id="placement-dates">Placement dates</h2>

      <%= render partial: "candidates/schools/placement_dates", locals: { available_dates_by_month: @presenter.available_dates_by_month, school: @presenter.school } %>
    <% else %>
      <div id="placement-availability">
        <h2>Placement availability</h2>

        <p><%= format_school_availability(@presenter.availability_info) %></p>

        <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
          <%= dlist_item "School experience type", id: "school-experience-type" do %>
            <%= format_school_placement_locations @presenter.school %>
          <% end %>
        </dl>
      </div>
    <% end %>

    <% if @presenter.has_fees? %>
      <h2 id="fees">Fees</h2>

      <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
        <%= dlist_item "Admin fees", id: "administration-fee-info" do %>
          <p>
            <%= number_to_currency @presenter.administration_fee_amount_pounds %>
            <%= @presenter.administration_fee_interval %>,
            <%= @presenter.administration_fee_payment_method %>
          </p>

          <%= safe_format @presenter.administration_fee_description %>
        <% end if @presenter.administration_fee_amount_pounds %>

        <%= dlist_item "Other fees", id: "other-fee-info" do %>
          <p>
            <%= number_to_currency @presenter.other_fee_amount_pounds %>
            <%= @presenter.other_fee_interval %>,
            <%= @presenter.other_fee_payment_method %>
          </p>

          <%= safe_format @presenter.other_fee_description %>
        <% end if @presenter.other_fee_amount_pounds %>

        <%= dlist_item "DBS check fees", id: "dbs-fee-info" do %>
          <p>
            <%= number_to_currency @presenter.dbs_fee_amount_pounds %>
            <%= @presenter.dbs_fee_interval %>,
            <%= @presenter.dbs_fee_payment_method %>
          </p>

          <%= safe_format @presenter.dbs_fee_description %>
        <% end if @presenter.dbs_fee_amount_pounds %>
      </dl>
    <% end %>

    <h2 id="location">Location</h2>

    <div class="govuk-grid-row">
			<div class="govuk-grid-column-one-quarter">
        <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
          <%= dlist_item "Address", id: "school-address" do %>
            <%= format_school_address @presenter.school %>
          <% end %>
        </dl>
			</div>

			<div class="govuk-grid-column-three-quarters">
        <%= school_location_map @presenter.school %>
      </div>
		</div>

    <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
      <%= dlist_item "Parking", id: "parking" do %>
        <% if @presenter.parking_provided %>
          <p>Yes - on site parking provided</p>
        <% else %>
          <p>Not available on site</p>
        <% end %>

        <%= safe_format @presenter.parking_details %>
      <% end %>

      <% if @presenter.supports_access_needs? %>
        <%= dlist_item "Disability and access details", id: "disability-and-access" do %>
          <%= render partial: "candidates/schools/access_needs_statement",
            locals: { presenter: @presenter } %>
        <% end %>
      <% end %>
    </dl>

    <% if @presenter.school.enabled? && @presenter.school.has_availability? && include_candidate_request_links %>
      <%= render "start_request", profile: @presenter %>
      <p>
        <%= link_to "Back to search results", :back, data: { controller: "back-link" }  %>
      </p>
    <% end %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="panel-highlight">
      <dl class="govuk-summary-list govuk-summary-list--no-border vertical">
        <%= dlist_item "Address", id: "school-address-sidebar" do %>
          <%= format_school_address(@presenter.school) %>
        <% end %>

        <%= dlist_item "School phases", id: "school-phases" do %>
          <%= format_school_phases_compact(@presenter.school) %>
        <% end %>

        <%= dlist_item "Dates", id: "school-phases" do %>
          <%= link_to("#{number_with_delimiter(@presenter.total_available_dates)} dates available for this school", "#placement-dates") %>
        <% end if @presenter.school.availability_preference_fixed? %>

        <%= dlist_item "DBS check required", id: "dbs-check-info-sidebar" do %>
          <p>
            <%= @presenter.dbs_required %>.
            <%= safe_format(@presenter.dbs_policy, wrapper_tag: "span") if @presenter.dbs_policy %>
          </p>
        <% end %>

        <% if @presenter.disability_confident? %>
          <%= dlist_item "Disability access", id: "disability-and-access-sidebar" do %>
            <p>Disability Confident</p>
          <% end %>
        <% end %>

        <%= dlist_item "Subjects", id: "school-subjects" do %>
          <%= format_school_subjects_list(@presenter.school) %>
        <% end if @presenter.school.subjects.present? %>
      </dl>
		</div>
  </div>
</div>
