<div class="govuk-grid-row school-profile">
  <div class="govuk-grid-column-two-thirds">
    <% if @presenter.description_details.present? %>
    <section id="school-placement-info" class="govuk-!-margin-bottom-8">
      <%= safe_format @presenter.description_details %>
    </section>
    <% end %>

    <%= render partial: "candidates/schools/profile/contents_list", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/about_our_school_experience", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/entry_requirements", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/placement_dates_availability", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/fees", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/location", locals: { presenter: @presenter } %>
    <%= render partial: "candidates/schools/profile/start_request", locals: {
      presenter: @presenter,
      include_candidate_request_links: include_candidate_request_links
    } %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="panel-highlight">
      <%= render partial: "candidates/schools/profile/sidebar", locals: { presenter: @presenter } %>
		</div>
  </div>
</div>
