<% self.page_title = "School experience placements #{ describe_current_search @search }" %>
<%= link_to 'Back', candidates_schools_path, class: 'govuk-back-link' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">School experience <%= describe_current_search @search %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <aside class="govuk-grid-column-one-third filter-list">
    <div data-controller="collapsible" id="search-filter">
      <button data-action="collapsible#toggle">
        Filter the results
      </button>

      <div data-target="collapsible.panel">
        <%= form_for @search, as: '',
              method: :get,
              data: {controller: 'instant-filter'},
              html: {class: "collapsible__content"} do |f| %>

          <%= f.hidden_field :query %>
          <%= f.hidden_field :location %>
          <%= f.hidden_field :distance %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>

          <%= f.collection_check_boxes :phases, Candidates::School.phases, :first, :last %>

          <%= f.collection_check_boxes :subjects, Candidates::School.subjects, :first, :last %>
          <%= f.hidden_field :order %>

          <%= f.submit 'Update schools list', name: nil %>
        <% end %>
      </div>
    </div>
  </aside>

  <section class="govuk-grid-column-two-thirds" id="search-results">
    <%- if @search.subjects.any? || @search.phases.any? -%>
    <div class="school-search-filter-info">
      <div>
        <%= school_search_phase_filter_description @search %>
      </div>

      <div>
        <%= school_search_subject_filter_description @search %>
      </div>
    </p>
    <%- end -%>

    <div class="pagination-info higher">
      <div class="pagination-slice">
        <%= school_results_info @search %>
      </div>

      <%= paginate @search.results %>
    </div>

    <hr />

    <div class="sortby inline-fields">
      <%= form_for @search, as: '', method: :get, data: {controller:'instant-filter'} do |f| %>
        <%= f.hidden_field :query %>
        <%= f.hidden_field :location %>
        <%= f.hidden_field :distance %>
        <%= f.hidden_field :latitude %>
        <%= f.hidden_field :longitude %>
        <% for phase_id in f.object.phases %>
          <%= f.hidden_field :phases, multiple: true, value: phase_id, id: nil %>
        <% end %>
        <% for subject_id in f.object.subjects %>
          <%= f.hidden_field :subjects, multiple: true, value: subject_id, id: nil %>
        <% end %>
        <%= f.hidden_field :max_fee %>
        <%= f.collection_select :order, f.object.class.available_orders, :first, :last %>
        <%= f.submit "Change sort order", name: nil %>
      <% end %>
    </div>

    <hr />

    <ul id="results">
      <% @search.results.each_with_index do |school, index| %>
      <li data-school-urn="<%= school.urn %>">
        <article class="school-result">
          <h3 class="govuk-heading-l">
            <%= school.name %>
            <%- if school.respond_to? :distance -%>
            <span class="govuk-caption-m distance">
              <%= pluralize Conversions::Distance::Metres::ToMiles.convert(school.distance), 'mile' %>
              away
            </span>
            <%- end -%>
          </h3>

          <dl class="govuk-summary-list">
            <%= summary_row 'Address', format_school_address(school) %>
            <%= summary_row 'Education phases', format_school_phases(school) %>
            <%= summary_row 'Fees', "£#{school.fee}" %>
            <%= summary_row 'Experience subjects', format_school_subjects(school) %>
          </dl>

          <%= link_to 'View school details', candidates_school_path(school), class: 'govuk-button' %>
        </article>
      </li>
      <% end %>
    </ul>

    <%- if show_lower_navigation?(@search.results.length) %>
    <div class="pagination-info lower">
      <%= paginate @search.results %>
    </div>
    <% end %>
  </section>
</div>
