<% self.page_title = "School experience placements #{ describe_current_search @search }" %>
<%= govuk_back_link new_candidates_school_search_path(school_new_search_params) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">School experience <%= describe_current_search @search %></h1>
  </div>
</div>

<div class="govuk-grid-row">
  <section id="search-bar" class="govuk-grid-column-full">
    <%= govuk_form_for @search, as: '', url: candidates_schools_path, method: :get do |f| %>
      <%= f.govuk_text_field :location, label: { text: "School location", class: "govuk-visually-hidden" }, width: 'full', placeholder: 'Location or postcode' %>

      <%= f.govuk_select :distance, label: { text: 'Search radius' } do
        options_from_collection_for_select(Candidates::SchoolSearch.distances, :first, :last, params[:distance])
      end unless f.object.whitelisted_urns?
      %>

      <div class="govuk-form-group">
        <%= f.govuk_submit 'Search', name: nil, aria: { label: 'Search for schools offering school experience' } %>
      </div>
    <% end %>
    <hr/>
  </section>

  <aside class="govuk-grid-column-one-third filter-list" aria-label="Filter search results">
    <div data-controller="collapsible" id="search-filter">
      <button data-action="collapsible#toggle">
        Filter the results
      </button>

      <div data-target="collapsible.panel">
        <%= link_to 'Skip to search results', '#search-results', class: 'govuk-skip-link', id: 'skip-to-results' %>
        <%= govuk_form_for @search, as: '',
                     method: :get,
                     html: { class: "collapsible__content" } do |f| %>

          <%= f.hidden_field :query %>
          <%= f.hidden_field :location %>
          <%= f.hidden_field :distance %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>

          <%= f.govuk_collection_check_boxes :phases, Candidates::School.phases, :first, :last,
            legend: { text: t("helpers.fieldset.phases") }, hint: { text: t("helpers.hint.phases") } %>

          <%= f.govuk_collection_check_boxes :subjects, Candidates::School.subjects, :first, :last,
            classes: %w(search-subjects-checkboxes), hint: { text: t("helpers.hint.subjects") } %>

          <%= f.govuk_collection_check_boxes :dbs_policies, [[2, t("helpers.label.dbs_policies_2")]], :first, :last,
            legend: { text: t("helpers.fieldset.dbs_policies") }, hint: { text: t("helpers.hint.dbs_policies") } %>

          <%= f.govuk_check_boxes_fieldset :disability_confident, multiple: false, legend: { text: t("helpers.fieldset.disability_confident") } do %>
            <%= f.govuk_check_box :disability_confident, "1", multiple: false, link_errors: true, include_hidden: false, label: { text: t("helpers.label.disability_confident") } %>
          <% end %>

          <%= f.govuk_check_boxes_fieldset :parking, multiple: false, legend: { text: t("helpers.fieldset.parking") } do %>
            <%= f.govuk_check_box :parking, "1", multiple: false, link_errors: true, include_hidden: false, label: { text: t("helpers.label.parking") } %>
          <% end %>

          <%= f.govuk_submit 'Update schools list', name: nil %>
        <% end %>
      </div>
    </div>
  </aside>

  <section class="govuk-grid-column-two-thirds" id="search-results" aria-label="Search results">
    <% if @search.subjects.any? || @search.phases.any? || @search.dbs_policies.any? || @search.disability_confident.present? || @search.parking.present?%>
      <div class="school-search-filter-info">
        <div>
          <%= school_search_phase_filter_description @search %>
        </div>

        <div>
          <%= school_search_subject_filter_description @search %>
        </div>

        <div>
          <%= school_search_dbs_policies_filter_description @search %>
        </div>

        <div>
          <%= school_search_disability_confident_filter_description(@search) %>
        </div>

        <div>
          <%= school_search_parking_filter_description(@search) %>
        </div>
      </div>
    <%- end -%>

    <div class="pagination-info higher">
      <div class="pagination-slice">
        <%= school_results_info @search %>
      </div>

      <%= paginate @search.results %>
    </div>

    <hr/>

    <p>Sorted by distance</p>

    <hr/>

    <ul id="results">
      <%= render 'expanded_search', search: @search if @expanded_search_radius %>

      <% @search.results.each_with_index do |school, _| %>
        <li data-school-urn="<%= school.urn %>">
          <article class="school-result">
            <h2 class="govuk-heading-l">
              <%= school.name %>
              <%- if school.respond_to? :distance -%>
            <span class="govuk-caption-m distance">
              <%= pluralize Conversions::Distance::Metres::ToMiles.convert(school.distance), 'mile' %>
              away
            </span>
              <%- end -%>
            </h2>

            <dl class="govuk-summary-list">
              <%= summary_row 'Address', format_school_address(school), nil, show_action: false %>
              <%= summary_row 'Education phases', format_school_phases(school), nil, show_action: false %>
              <%= summary_row 'Subjects', format_school_subjects(school), nil, show_action: false %>
              <%= summary_row 'Experience type', format_school_placement_locations(school), nil, show_action: false %>
            </dl>

            <%= govuk_link_to 'View school details',
                              candidates_school_path(school),
                              aria: { 'label': "View school details for #{school.name}" } %>
          </article>
        </li>
      <% end %>

      <%= render 'no_results', search: @search if @search.results.empty? && !@expanded_search_radius %>
    </ul>

    <%- if show_lower_navigation?(@search.results.length) %>
      <div class="pagination-info lower">
        <%= paginate @search.results %>
      </div>
    <% end %>
  </section>
</div>
