<% self.page_title = "School experience placements #{ describe_current_search @search, include_result_count: true }" %>
<% content_for :back_link do govuk_back_link(new_candidates_school_search_path(school_new_search_params)); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">School experience <%= describe_current_search @search %></h1>
  </div>
</div>

<div class="govuk-grid-row" data-controller="search autocomplete" data-autocomplete-target="wrapper" data-autocomplete-api-key-value="<%= Rails.application.config.x.google_maps_key %>"
  data-search-results-id-value="search-results" data-search-form-id-value="search-form">
  <section id="search-bar" class="govuk-grid-column-full">
    <%= form_for @search, as: '', url: candidates_schools_path, method: :post do |f| %>
      <%= f.govuk_text_field :location, width: 'full', label: { text: t('helpers.label.location') },
                             data: { "autocomplete-target": "nonJsInput" }%>

      <div class="govuk-form-group" data-autocomplete-target="locationFormGroup">
        <label for="location-field" data-autocomplete-target="autocompleteInputLabel" class="govuk-label govuk-visually-hidden"><%= t('helpers.label.location_short') %></label>
        <div id="location-autocomplete" data-autocomplete-target="autocompleteWrapper"></div>
      </div>
      <%= f.govuk_select :distance, label: { text: 'Search radius' } do
        options_from_collection_for_select(Candidates::SchoolSearch.distances, :first, :last, params[:distance])
      end unless f.object.whitelisted_urns?
      %>

      <div class="govuk-form-group">
        <%= f.govuk_submit 'Search', name: nil, aria: { label: 'Search for schools offering school experience' } %>
      </div>
    <% end %>
    <hr/>
  </section>

  <aside class="govuk-grid-column-one-third filter-list" aria-label="Filter search results">
    <div data-controller="collapsible" id="search-filter">
      <button data-action="collapsible#toggle">
        Filter the results
      </button>

      <div data-target="collapsible.panel">
        <%= link_to 'Skip to search results', '#search-results', class: 'govuk-skip-link', id: 'skip-to-results' %>
        <%= form_for @search, as: '',
                     method: :get,
                     html: { id: "search-form", class: "collapsible__content" },
                     data: { "search-target": "form", "action": "change->search#performSearch" } do |f| %>

          <%= f.hidden_field :query %>
          <%= f.hidden_field :location, value: @search.encrypted_attributes["location"] %>
          <%= f.hidden_field :distance %>
          <%= f.hidden_field :latitude %>
          <%= f.hidden_field :longitude %>

          <div class="filter">
            <%= f.govuk_collection_check_boxes :phases, Candidates::School.phases, :first,
              ->(phase) { "#{phase.last.gsub(/\(|\)/, "")} (#{@search.phase_count(phase.first)})" },
              legend: { text: t("helpers.fieldset.phases") }, hint: { text: t("helpers.hint.phases") } %>
          </div>

          <div class="filter">
            <%= f.govuk_collection_check_boxes :subjects, Candidates::School.subjects, :first,
              ->(subject) { "#{subject.last} (#{@search.subject_count(subject.first)})" },
              classes: %w(search-subjects-checkboxes), hint: { text: t("helpers.hint.subjects") } %>
          </div>

          <div class="filter">
            <%= f.govuk_collection_check_boxes :dbs_policies, [[2, t("helpers.label.dbs_policies_2")]], :first,
              ->(dbs_policy) { "#{dbs_policy.last} (#{@search.dbs_not_required_count})" },
              legend: { text: t("helpers.fieldset.dbs_policies") }, hint: { text: t("helpers.hint.dbs_policies") } %>
          </div>

          <div class="filter">
            <%= f.govuk_check_boxes_fieldset :disability_confident, multiple: false, legend: { text: t("helpers.fieldset.disability_confident") } do %>
              <%= f.govuk_check_box :disability_confident, "1", multiple: false, link_errors: true, include_hidden: false,
                label: { text: "#{t("helpers.label.disability_confident")} (#{@search.disability_confident_count})" } %>
            <% end %>
          </div>

          <div class="filter">
            <%= f.govuk_check_boxes_fieldset :parking, multiple: false, legend: { text: t("helpers.fieldset.parking") } do %>
              <%= f.govuk_check_box :parking, "1", multiple: false, link_errors: true, include_hidden: false, label: { text: "#{t("helpers.label.parking")} (#{@search.parking_count})" } %>
            <% end %>
          </div>

          <%= f.govuk_submit 'Update schools list', name: nil, data: { "search-target": "submit" } %>
        <% end %>
      </div>
    </div>
  </aside>

  <section class="govuk-grid-column-two-thirds" id="search-results" aria-label="Search results">
    <%= render(partial: "shared/facet_tags", locals: { applied_filters: @facet_tags.applied_filters }) %>

    <div class="pagination-info higher">
      <div class="pagination-slice">
        <%= school_results_info @search %>
      </div>

      <%= paginate @search.results %>
    </div>

    <% if @search.results.size > 1 %>
      <hr/>
      <div>Sorted by distance</div>
      <hr/>
      <div class="govuk-inset-text">
       Do you think like a teacher? See if you respond like teachers in a <a href ="https://teacherselect.qualtrics.com/jfe/form/SV_aXbiUM3xz0uVtuS?utm_source=schoolexperience.education.gov.uk&utm_medium=referral">variety of classroom scenarios</a>.
      </div>
      <hr/>
    <% end %>

    <ul id="results">
      <% if @expanded_search_radius && @country&.not_serviced? && @search.results.none? %>
        <%= render 'england_only_service' %>
      <% elsif @expanded_search_radius %>
        <%= render 'expanded_search', search: @search %>
      <% end %>

      <% @search.results.each_with_index do |school, idx| %>
        <li data-school-urn="<%= school.urn %>">
          <article class="school-result">
            <h2 class="govuk-heading-l">
              <%= school.name %>
              <%- if school.respond_to? :distance -%>
            <span class="govuk-caption-m distance">
              <%= pluralize Conversions::Distance::Metres::ToMiles.convert(school.distance), 'mile' %>
              away
            </span>
              <%- end -%>
            </h2>

            <dl class="govuk-summary-list">
              <%= summary_row 'Address', format_school_address(school), nil, show_action: false, id: "result-#{idx}-address" %>
              <%= summary_row 'Education phases', format_school_phases(school), nil, show_action: false, id: "result-#{idx}-education-phase" %>
              <%= summary_row 'Subjects', format_school_subjects(school), nil, show_action: false, id: "result-#{idx}-subjects" %>
              <%= summary_row 'Experience type', format_school_placement_locations(school), nil, show_action: false, id: "result-#{idx}-experience-type" %>
            </dl>

            <%= govuk_link_to 'View school details',
                              candidates_school_path(school),
                              aria: { 'label': "View school details for #{school.name}" } %>
          </article>
        </li>
      <% end %>

      <%= render 'no_results', search: @search if @search.results.empty? && !@expanded_search_radius %>
    </ul>

    <%- if show_lower_navigation?(@search.results.length) %>
      <div class="pagination-info lower">
        <%= paginate @search.results %>
      </div>
    <% end %>
  </section>
</div>
