<%= link_to 'Back', :back,
            class: 'govuk-back-link',
            data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l"><%= @school.name %></h1>

        <p>
            We’re a thriving community school serving a cosmopolitan community
            in North Manchester with more than 1,700 pupils.
        </p>

        <p>
            Our pupils’ GCSE scores are above the national average and, with
            more than 63 languages spoken at our school, we’re highly skilled in
            meeting the needs of bilingual children.
        </p>

        <p>
            We’re also a barrier free school and cater fully for the needs of
            pupils with movement difficulties while our work with hearing
            impaired children is well supported by the local authority and other
            agencies.
        </p>

        <h1 class="govuk-heading-m">About our school</h1>

        <p>
            <b>Age range:</b> 3 to 16 years (nursery, primary and secondary)
        </p>

        <p>
            <b>Specialisms:</b> Arts, bilingual students and SEN.
        </p>

        <p>
            <b>For more information about our school use the following links:</b>
        </p>

        <p>
            <li>
                <a class="govuk-link" href="https://www.abrahammoss.manchester.sch.uk/">
                    <%= @school.name %> website
                </a>
            </li>
        </p>

        <p>
            <li>
                <a class="govuk-link" href="https://get-information-schools.service.gov.uk/Establishments/Establishment/Details/105560#school-dashboard">
                    <%= @school.name %> Get Information About Schools page
                </a>
            </li>
        </p>

        <p>
            <li>
                <a class="govuk-link" href="https://reports.ofsted.gov.uk/provider/28/105560">
                    Ofsted report: <%= @school.name %>
                </a>
            </li>
        </p>

        <p>
            <li>
                <a class="govuk-link" href="https://www.compare-school-performance.service.gov.uk/school/105560/abraham-moss-community-school">
                    Performance information: <%= @school.name %>
                </a>
            </li>
        </p>

        <h1 class="govuk-heading-m">Placement information</h1>

        <p>
            <b>Individual requirements:</b> Must have a degree and be planning
            to become a teacher.
        </p>

        <p>
            <b>Placement details:</b> Attendees will observe lessons in their
            chosen subjects and may get the chance to interact with pupils and
            classroom activities. Only offer key stage 1 experience for primary
            placements.
        </p>


        <p><b>Placement subjects:</b> {{ data['school-subjects'] }}.</p>

        <h1 class="govuk-heading-m">Location</h1>

        <img class="school-map" src="/public/images/abschool.jpg" width="250" height="172" />

        <p>
            <a class="govuk-button" href="/register/request">
                Request placement
            </a>
        </p>
    </div>

    <div class="govuk-grid-column-one-third app-related-items ">
        <h3 class="govuk-heading-m">Address</h3>
        <p class="govuk-body">
            {{ data['school-address'] }}.
        </p>

        <h3 class="govuk-heading-s">DBS check required</h3>
        <p class="govuk-body">
          Yes
        </p>

        <h3 class="govuk-heading-s">Fee</h3>
        <p class="govuk-body">
          Yes - £50 per placement
        </p>

        <h3 class="govuk-heading-s">Dress code</h3>
        <p class="govuk-body">
		  Yes - business attire with male attendees expected to wear a collar and tie
        </p>

        <h3 class="govuk-heading-s">Start and finish times</h3>
        <p class="govuk-body">
          8am to 5pm
        </p>

        <h3 class="govuk-heading-s">Parking</h3>
        <p class="govuk-body">
            Limited on-site parking arranged as part of placement. Local
            paid-for on-street parking around school site for £3 per day
        </p>

        <h3 class="govuk-heading-s">Accessibility details</h3>
        <p class="govuk-body">
            Ramp access and disabled parking available on site
        </p>

        <h3 class="govuk-heading-s">Teacher training offered</h3>
        <p class="govuk-body">
            Yes. We offer training opportunities for a mainstream ITT programme
        </p>
    </div>
</div>
