<% self.page_title = @school.name %>
<% description "#{@school.name} is offering school experience opportunities through the DfE's Get school experience service.
Find out more about a career in teaching, experience days and how to apply." %>

<%= govuk_back_link javascript: true %>

<% if !@school.private_beta? %>
  <div class="govuk-inset-text">
    This school has not yet joined the Get school experience service.
    <%= link_to 'Search for schools offering school experience', new_candidates_school_search_path %>.
  </div>
<% elsif !@school.has_availability? %>
  <div class="govuk-inset-text">
    This school does not currently have placement availability.
    <%= link_to 'Search for schools offering school experience', new_candidates_school_search_path %>.
  </div>
<% end %>

<h1 class="govuk-heading-l govuk-!-margin-top-4"><%= @school.name %></h1>

<%= render (@presenter ? 'phase2' : 'phase1'), school: @school, include_candidate_request_links: true %>
