<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= link_to 'Back', :back, class: 'govuk-back-link' %>

    <%= page_heading 'Cookies' %>

    <section>
      <p>
        This site puts small files (known as ‘cookies’) onto your computer to collect information about how you browse the site.
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          measure how you use the website so it can be updated and improved based on your needs
        </li>
        <li>
          remember the notifications you’ve seen so we don’t show them to you again
        </li>
      </ul>
      <p>
        <%= link_to 'Find out more about how to manage cookies', 'https://ico.org.uk/your-data-matters/online/cookies/' %>
      </p>
    </section>
    <section id="cookies-tables">
      <h2 class="govuk-heading-m">How cookies are used on this site</h2>
      <section>
        <h3 class="govuk-heading-s">Measuring website usage (Google Analytics)</h3>
        <p>
          We use Google Analytics software (Universal Analytics) to collect information about how you use this site. We do this to help make sure the site is meeting the needs of its users and to help us make improvements, for example, improving site search.
        </p>
        <p>
          Google Analytics stores information about:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the pages you visit on this site</li>
          <li>how long you spend on each page</li>
          <li>how you got to the site</li>
          <li>what you click on while you’re visiting the site</li>
        </ul>
        <p>
          We do not store this information with your personal information (for example, your name or address) so this information can’t be used to identify who you are.
        </p>
        <p>
          We do not allow Google to use or share our analytics data.
        </p>
      </section>
      <section>
        <table class="govuk-table">
          <caption class="govuk-table__caption">
            Google Analytics sets the following cookies
          </caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Name
              </th>
              <th class="govuk-table__header" scope="col">
                Purpose
              </th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                Expires
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>_ga</strong>
              </td>
              <td class="govuk-table__cell">
                Helps count how many people visit this site by tracking if you’ve visited before
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                2 years
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>_gid</strong>
              </td>
              <td class="govuk-table__cell">
                Helps count how many people visit this site by tracking if you’ve visited before
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                24 hours
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>_gat</strong>
              </td>
              <td class="govuk-table__cell">
                Used to manage the rate at which page view requests are made
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                10 minutes
              </td>
            </tr>
          </tbody>
        </table>
        <p>
          You can opt out of <%= link_to 'Google Analytics cookies', 'https://tools.google.com/dlpage/gaoptout' %>
        </p>
      </section>
      <section>
        <h3 class="govuk-heading-m">Our cookie message</h3>
        <p>
          You may see a pop-up welcome message when you first visit the service. We’ll store a cookie so your computer knows you’ve seen it and knows not to show it again.
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Name
              </th>
              <th class="govuk-table__header" scope="col">
                Purpose
              </th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                Expires
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>seen_cookie_message</strong>
              </td>
              <td class="govuk-table__cell">
                Saves a cookie to let us know you’ve seen our cookie message
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                14 days
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h3 class="govuk-heading-m">Session Cookie</h3>
        <p>
          Used to identify your current session.
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Name
              </th>
              <th class="govuk-table__header" scope="col">
                Purpose
              </th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                Expires
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>schoolex-session</strong>
              </td>
              <td class="govuk-table__cell">
                Used to identify your current session with the School Experience Service
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                14 days
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h3 class="govuk-heading-m">Analytics Cookie</h3>
        <p>
          Used to track your searches to help us improve the quality of our service.
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Name
              </th>
              <th class="govuk-table__header" scope="col">
                Purpose
              </th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                Expires
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong>analytics_tracking_uuid</strong>
              </td>
              <td class="govuk-table__cell">
                Links searches and subsequent placement requests using a cookie
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                Never
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <section>
        <h3 class="govuk-heading-m">Cookie settings</h3>
        <p>
          Records your requested cookie settings.
        </p>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">
                Name
              </th>
              <th class="govuk-table__header" scope="col">
                Purpose
              </th>
              <th class="govuk-table__header govuk-table__header--numeric" scope="col">
                Expires
              </th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">
                <strong><%= CookiePreference.cookie_key %></strong>
              </td>
              <td class="govuk-table__cell">
                Used by Get school experience and Manage school experience to
                control which cookies can be recorded as part of the service.
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <%= CookiePreference::EXPIRES_IN.inspect %>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>

    <br>
    <%= back_to_top_link %>
  </div>
</div>
