<% self.page_title = 'Privacy policy - Schools' %>

 <%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">
      Privacy policy for manage school experience
    </h1>

    <section>
      <h2 class="govuk-heading-m">
        Who we are
      </h2>

      <p>
        This work is being carried out by Education Standards which is a part of
        the Department for Education (DfE).
      </p>

      <p>
        DfE has engaged the private companies Engine Group and Teleperformance UK
        (TPUK) to help provide and improve the service.
      </p>

      <p>
        For the purpose of data protection legislation, the DfE is the data
        controller for the personal data processed as part of the service.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        How we'll use your information
      </h2>

      <p>
        To facilitate school experience we collect the following details and data
        about school staff who manage the service when the school they work for
        or at signs up to the service:
      </p>

      <ul>
        <li>name</li>
        <li>email address</li>
        <li>UK telephone number</li>
      </ul>

      <p>
        These details are then shared with a candidate once their school
        experience request has been confirmed by the relevant school.
      </p>

      <p>
        School staff can delete or update their contact details at any time in
        the service.
      </p>

      <p>
        As part of the service we'll use the contact information you've
        provided to send out notifications, reminders and feedback
        questionnaires relating to the service.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Why our use of your personal data is lawful
      </h2>

      <p>
        In order to lawfully use your personal data, we need to meet 1 (or more)
        conditions in the data protection legislation. For the purpose of this
        project, your consent forms the basis of this as stated under GDPR
        Article 6 (1)(a).
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Who we'll make your personal data available to
      </h2>

      <p>
        These might include contracted partners (who we've employed to process
        your personal data on our behalf) and / or other organisations (with whom
        we need to share your personal data for specific purposes).
      </p>

      <p>
        Where we need to share your personal data with others, we ensure that
        this data sharing complies with data protection legislation.
      </p>

      <p>
        We share specific types of personal data with Engine Group, who have been
        contracted by DfE to manage the delivery of the digital service and TPUK,
        who have been contracted by DfE to support the administration of the
        service.
      </p>

      <h3 class="govuk-heading-s">
        The private company Engine Group uses your data for:
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          user research to help develop the service - where you've shared your
          name, email address and / or phone number for this purpose
        </li>

        <li>
          security purposes to protect the service - for example, parts of the
          IP addresses of website visitors are collected to block continuous
          direct denial of service attacks from an IP address range
        </li>

        <li>
          communications purposes - to help you use and receive updates
          about the service individual email addresses are collected
        </li>
      </ul>

      <h3 class="govuk-heading-s">
        The private company TPUK uses your data:
      </h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          to cancel, amend and manage booking requests on your behalf
        </li>
      </ul>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        How long we'll keep your personal data
      </h2>

      <p>
        DfE, Engine Group or TPUK will only keep your personal data for as long
        as we need it for the purposes of their work, after which point it will
        be securely destroyed. If this is longer than 6 years your data will be
        deleted.
      </p>

      <p>
        Note: under Data Protection legislation, and in compliance with the
        relevant data processing conditions, personal data can be kept for
        longer periods of time when processed purely for archiving purposes in
        the public interest, statistical purposes and historical or scientific
        research.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Your data protection rights
      </h2>

      <p>
        Under certain circumstances, you have the right to:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          ask us for access to the personal data we hold about you
        </li>

        <li>
          have your personal data rectified if it's inaccurate or incomplete
        </li>

        <li>
          request the deletion or removal of personal data where there's no
          compelling reason for its continued processing
        </li>

        <li>
          restrict our processing of your personal data (ie permitting its storage
          but no further processing)
        </li>

        <li>
          object to direct marketing (including profiling) and processing for
          statistical purposes and historical or scientific research
        </li>

        <li>
          not be subject to decisions based purely on automated processing where
          it produces a legal or similarly significant effect on you
        </li>
      </ul>

      <p>
        If you need to contact us regarding any of the above use the details on
        DfE's <%= link_to "Contact the Department for Education (DfE)", "https://www.gov.uk/contact-dfe" %>
        page.
      </p>

      <p>
        Further information about your data protection rights can be found on
        the on the <%= link_to "Information Commissioner's Office (ICO)", "https://ico.org.uk/" %>
        website.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Withdrawal of consent and the right to lodge a complaint
      </h2>

      <p>
        Where we're processing your personal data with your consent, you have
        the right to withdraw that consent.
      </p>

      <p>
        If you change your mind or you are unhappy with our use of your
        personal data please email us at
        <%= mail_to "organise.schoolexperience@education.gov.uk" %>.
      </p>

      <p>
        Alternatively, you have the right to raise any concerns via the
        <%= link_to "Information Commissioner's Office (ICO)", "https://ico.org.uk/concerns/" %>
        website.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Last updated
      </h2>

      <p>
        We may need to update this privacy notice periodically and recommend
        you revisit this information from time to time. This version was last
        updated on 27 June 2019.
      </p>
    </section>

    <section>
      <h2 class="govuk-heading-m">
        Contact Information
      </h2>

      <p>
        If you have any questions about how your personal information will be
        used either email us at <%= mail_to "organise.schoolexperience@education.gov.uk" %>
        or contact the DfE Data Protection Officer (DPO) via DfE's
        <%= link_to "Contact the Department for Education (DfE)", "https://www.gov.uk/contact-dfe" %>
        page.
      </p>
    </section>

    <section>
      <p>
        <%= link_to "Back to summary", schools_on_boarding_profile_path, class: 'govuk-button' %>
      </p>

      <p>
        <%= back_to_top_link %>
      </p>
    </section>
  </div>
</div>
