<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <article class="govuk-grid-column-two-thirds">
    <%= page_heading do %>
      Terms and conditions
    <% end %>

<section>
    <h2 class="govuk-heading-m">All users</h2>
        <h3 class="govuk-heading-s">Using the Service</h3>
            <p>
                By accessing and using the Get school experience website (the 'Service'),
                which includes Manage School Experience, you, as the user, are confirming
                that you accept these terms and conditions ('General Terms').
                This takes effect from the date you first use the Service.
                If you do not agree to these General Terms, you must not use this website.
            </p>
        <h3 class="govuk-heading-s">Information about us</h3>
            <p>
                This Service is operated by the <%= link_to 'Department for Education', 'https://www.gov.uk/government/organisations/department-for-education' %> (DfE) ('we', 'our', or 'us').
                We’re a central government department and have our registered office at
                Sanctuary Buildings, 20 Great Smith Street, SW1P 3BT.
            </p>
            <p>
                You can contact us using the following email address: <%= link_to 'organise.school-experience@education.gov.uk', 'mailto:organise.school-experience@education.gov.uk' %>.
            </p>
        <h3 class="govuk-heading-s">Hyperlinking to the Service</h3>
            <p>
                We do not object to you linking directly to pages on this site and you do not need to ask permission to do so. However, we do not permit our pages to be loaded into frames on your site.
            </p>
            <p>
                The Get school experience pages must be displayed in the user's entire browser window.
            </p>
            <p>
                You may not charge your website's users to click on a link to any page on the Service.
            </p>
        <h3 class="govuk-heading-s">Third-party content and hyperlinking from the Service</h3>
            <p>
                We’re not liable or responsible for the third-party content on the Service.
                Third-party content includes, but is not restricted to, material posted by other users of the Service, school experience listings and school profiles.
            </p>
            <p>
                Where the Service contains links to other sites and resources, we’re not liable or responsible for the content or reliability of those websites and resources.
                We do not necessarily endorse the views expressed within them.
            </p>
            <p>
                We aim to replace broken links to other sites but cannot guarantee that these links will always work as we've no control over the availability of other sites.
            </p>
        <h3 class="govuk-heading-s">Virus protection</h3>
            <p>
                We make every effort to check and test material at all stages of production. It’s always wise for you to run an antivirus programme on all material downloaded from the Internet as we do not guarantee our Service will be secure, or free from bugs or viruses.
                We cannot accept any responsibility for any loss, disruption or damage to your data or your computer system which may occur while using material from this website.
            </p>
            <p>
                You must not misuse our Service by knowingly introducing viruses, Trojans, worms, logic bombs or other material that’s malicious or technologically harmful.
            </p>
            <p>
                You must not attempt to gain unauthorised access to our Service, the server on which our Service is stored or any server, computer or database connected to our Service.
            </p>
            <p>
                You must not attack our site through a denial-of-service attack or a distributed denial-of service attack.
            </p>
            <p>
                Each of these acts is a criminal offence.
                We’ll report any such offence to the relevant law enforcement authorities and co-operate with them to determine your identity.
                In the event of such a breach your right to use the Service will cease immediately.
            </p>
        <h3 class="govuk-heading-s">Disclaimer and Liability</h3>
            <p>
                The content of this Service includes both content created by us (included but not limited to content that helps you use the Service) and third-party content (included but not limited to school experience listings).
                We do not:
            </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>endorse third-party content</li>
                    <li>vouch for its accuracy</li>
                    <li>guarantee that the views, instructions and/or assertions expressed in it are our own</li>
                </ul>
             <p>
                The content we create for the Service is not advice.
                You should verify any information on the Service yourself and use your own judgement before doing or not doing anything on the basis of the content.
            </p>
            <p>
                Unless expressly stated in writing by us, the Service and material relating to government information, products and services (or to third-party information, products and services), is provided 'as is', without any representation or endorsement made, and without warranty of any kind, whether express or implied.
                This includes but is not limited to the implied warranties of satisfactory quality, fitness for a particular purpose, non-infringement, compatibility, security and accuracy.
            </p>
            <p>
                We do not warrant that the material on this site will be error free, that defects will be corrected, or that this site or the server that makes it available are free of viruses or represent the full functionality, accuracy or reliability of the materials.
            </p>
            <p>
                We expressly reserve the right to remove any user from our Service. The Department is not obligated to sharing its reasoning.
            </p>
            <p>
                We strongly advise against users incurring any expenses. The Department will not reimburse any costs.
            </p>
            <p>
                In no event will we be liable for:
            </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>any action you may take as a result of relying on any information or materials provided on the Service or for any loss or damage suffered by you as a result of you taking such action. This includes, but is not limited to, indirect or consequential loss or damage, or any loss or damages whatsoever arising from, or in connection with, the use of the Service </li>
                    <li>any dealings you have with third parties (for example, other users or advertisers) that take place using or facilitated by the Service.</li>
                </ul>
         <h3 class="govuk-heading-s">Validity of these General Terms</h3>
            <p>
                If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.
            </p>
        <h3 class="govuk-heading-s">Applicable law and jurisdiction</h3>
            <p>
                These General Terms are governed by the laws of England and Wales. Any dispute arising under these General Terms will be subject to the exclusive jurisdiction of the courts of England and Wales.
            </p>
    <h2 class="govuk-heading-m">Terms and conditions for school experience applicants</h2>
        <h3 class="govuk-heading-s">Applying for school experience through Get school experience</h3>
            <p>
                The information you provide in your applications must be truthful, complete and accurate. A declaration is included in the application feature on the Service which, when agreed to on submission of an application, is considered valid and binding.
                If, following submission of an application, you realise you’ve made an error, you’re responsible for contacting the advertising organisation directly to correct the error.
            </p>
            <p>
                By applying for school experience through the Service, you agree that you must not submit an application that contains:
            </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>any material that encourages violence or racial or religious hatred or is false, misleading, defamatory, discriminatory, threatening, offensive, abusive, likely to cause someone anxiety or distress, blasphemous, pornographic, in breach of confidence, in breach of privacy, unlawful, harassing, libelous, harmful, vulgar, obscene, or otherwise objectionable</li>
                    <li>offensive or inappropriate language, including but not limited to profanities or language pejorative of any group, such as racist, sexist or homophobic comments</li>
                    <li>material that infringes any intellectual property rights, such as copyright and trademarks (this means generally that you must own the rights in everything you submit or must obtain permission from the rights owner to submit the material)</li>
                    <li>material that's technically harmful (including, but not limited to, computer viruses, logic bombs, Trojans, worms, harmful components, corrupted data or other malicious software or harmful data)</li>
                </ul>
    <h2 class="govuk-heading-m">Terms and conditions for schools</h2>
        <h3 class="govuk-heading-s">Approving user accounts</h3>
            <p>
                Users must be approved before they're able to publish or manage school profiles and school experience applications for a school.
            </p>
            <p>
                If you're the first user who is creating a school profile (referred to as ‘onboarding’), this will be done through DfE support channels.
            </p>
            <p>
                Once the first user has been onboarded to a school, this user can add subsequent users to the school account.
            </p>
            <p>
                Users must only allow someone working for their school to publish or manage school experience listings for their school.
            </p>
            <p>
                Users must not allow third parties to publish or manage school experience dates on behalf of their school.
            </p>
            <p>
                If the Get School Experience team detects, or is alerted to, any usage of an account by third parties that user account will be deleted immediately and the user will no longer have access to publish or manage school experience dates for that school.
            </p>
        <h3 class="govuk-heading-s">Unacceptable use</h3>
            <h4 class="govuk-heading-xs">School experience listings</h4>
            <p>
                You must not publish, edit or delete a school experience listing if you do not have authority from the school, trust or local authority to do so.
            </p>
            <p>
                You must not publish:
            </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>offensive or inappropriate language, including but not limited to profanities or language pejorative of any group, such as racist, sexist or homophobic comments</li>
                    <li>discriminatory content: you must not state or imply in a school experience listing that you’ll discriminate against anyone (subject to certain exceptions under the Equality Act 2010, particularly those applying to schools with a religious character); for further information see GOV.UK's <%= link_to 'guidance on discrimination in job adverts (opens in a new tab)', 'https://www.gov.uk/employer-preventing-discrimination/recruitment', target: "_blank" %></li>
                    <li>material that infringes any intellectual property rights, such as copyright and trademarks (this means generally that you must own the rights in everything you submit or must obtain permission from the rights owner to submit the material)</li>
                    <li>material that's technically harmful (including, but not limited to, computer viruses, logic bombs, Trojans, worms, harmful components, corrupted data or other malicious software or harmful data)</li>
                    <li>material that encourages or teaches conduct that's a criminal offence, gives rise to civil liability, or is otherwise unlawful</li>
                </ul>
        <h3 class="govuk-heading-s">Accepting applications through the Get school experience service</h3>
            <p>
                By accepting school experience applications through the Service, you agree that:
            </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li>Once you receive an application from a school experience candidate, it's your responsibility to adhere to General Data Protection Regulation (GDPR) requirements.</li>
                    <li>you're responsible for destroying any digital, downloaded, printed or saved copies of a school experience request</li>
                    <li>you must not share requests received through the Service with anyone other than those involved in the school experience process from the school, trust, board or local authority</li>
                    <li>you must ensure that appropriate measures are in place to guarantee the protection of personal data in applications</li>
                </ul>
            <p>
                As a school, it's your responsibility to decide if a school experience candidate complies with your DBS and safeguarding policies.
            </p>
        <h3 class="govuk-heading-s">Data storage, retention and destruction</h3>
            <p>
                You must store shared data securely and have appropriate safeguards in place to protect data against unlawful or unauthorised processing. Personal data must be kept only as long as needed to carry out activities relating to administering school experience.
            </p>
            <p>
                You must set an appropriate time limit, in line with the General Data Protection Regulation, for retaining data before erasure or review.
            </p>
            <p>
                You should destroy the data when it is no longer needed, or when the retention schedule has expired.
            </p>
            <p>
                You should follow the NCSC guidance for secure sanitisation.
            </p>
        <h3 class="govuk-heading-s">Access to the Service</h3>
            <p>
                We will not be liable if for any reason the Service is unavailable at any time or for any period. From time to time, we may restrict access to all or some parts of the Service to users who have registered with us.
            </p>
            <p>
                If you choose, or are provided with, a user identification code, password or any other piece of information as part of our security procedures, you must treat such information as confidential and you must not disclose it to any third party.
            </p>
            <p>
                We reserve the right to restrict or deny you access to all or some parts of the Service if, in our opinion, you've failed to comply with these General Terms.
            </p>
            <p>
                We retain the right to withdraw, without notice, school experience listings that breach these terms and to withdraw the access of users who breach them.
            </p>
        <h3 class="govuk-heading-s">Listing data</h3>
            <p>
                Data ownership: schools have sole responsibility for maintaining the accuracy and appropriateness of the data contained in their listings.
            </p>
        <h3 class="govuk-heading-s">Department for Education (DfE) responsibility</h3>
            <p>
                The DfE does not make any decisions on individual applications.
            </p>
            <p>
                The DfE does not investigate complaints about individual applications.
            </p>
        <h3 class="govuk-heading-s">Other policies</h3>
            <p>
                You can <%= link_to 'make a complaint', 'https://form.education.gov.uk/service/Contact_the_Department_for_Education' %> or <%= link_to 'give feedback about this service', 'https://schoolexperience.education.gov.uk/candidates/feedbacks/new' %>.
            </p>
            <p>
                Our <%= link_to 'privacy notice', 'https://schoolexperience.education.gov.uk/privacy_policy' %> explains how we keep your data safe.
            </p>
        <h3 class="govuk-heading-s">Last updated</h3>
            <p>
                We may need to update these General Terms so we recommend that you revisit this information from time to time.
            </p>
            <p>
                If you continue to use our service after the terms and conditions are updated, you agree to any of the changes we’ve made.
            </p>
            <p>
                This version was last updated on 25 April 2024.
            </p>
    <br>
    <%= back_to_top_link %>