<%
  self.page_title = "Manage Users"

  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'users' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1>Manage users at <%= @current_school.name %> </h1>
    <%= link_to 'Add user', new_schools_user_path, class: 'govuk-button' %>

    <p>
      Users will be able to:
      <ul ul class="govuk-list govuk-list--bullet">
        <li>advertise experience at your school</li>
        <li>allow candidates to request experience</li>
        <li>accept or reject candidates requests for experience</li>
        <li>add other users from your school</li>
      </ul>
    </p>
    <p> To remove and manage users, you should go to
     <%= link_to 'DFE Sign-in', @dfe_sign_in_manage_users_url %>
    </p>

    <% if @users.any? %>
      <div class="pagination-info higher">
        <div class="pagination-slice">
        </div>
      </div>
      <table id="invited-users" class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header">Name</th>
            <th class="govuk-table__header">Email</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <% @users.each do |user| %>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell"><%= "#{user['firstName']} #{user['lastName']}" %></td>
              <td class="govuk-table__cell"><%= user['email'] %></td>
            </tr>
          <% end %>

        </tbody>
      </table>
      <div class="pagination-info lower">
      </div>
    <% else %>
      <p>
        There are no other users in this school.
      </p>
    <% end %>

    <%= govuk_link_to "Return to dashboard", schools_dashboard_path, secondary: true %>
  </div>
</div>
