<%- self.page_title = @current_school.onboarded? ? 'School profile' : 'Check your answers before setting up your school experience profile' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'School profile' => nil
  } if @current_school.onboarded?
%>

<div class="govuk-grid-row" id="school-onboarding-profile">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%= @profile.page_heading %>
    </h1>

    <% if @profile.publish_warning %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Warning</span>
          <%= @profile.publish_warning %>
        </strong>
      </div>
    <% end %>

    <% if flash.notice.present? %>
      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
          <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Success
          </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <p><%= flash.notice %></p>
        </div>
      </div>
    <% end %>

    <%= form_for @confirmation, url: schools_on_boarding_confirmation_path do |f| %>
      <%= f.govuk_error_summary %>

      <h2 class="govuk-heading-m">School details</h2>
      <dl class="govuk-summary-list">
        <%= summary_row 'Full name', @profile.school_name %>
        <%= summary_row 'Address', @profile.school_address %>
      </dl>

      <h2 class="govuk-heading-m">School experience details</h2>
      <dl class="govuk-summary-list">
        <%= summary_row 'Fees', @profile.fees, edit_schools_on_boarding_fees_path %>
        <%= summary_row 'DBS check required', @profile.dbs_check, edit_schools_on_boarding_dbs_requirement_path %>
        <%= summary_row 'Individual requirements', split_to_list(@profile.individual_requirements), edit_schools_on_boarding_candidate_requirements_selection_path %>
        <%= summary_row 'School experience phases', @profile.school_experience_phases, edit_schools_on_boarding_phases_list_path %>
        <%= summary_row 'Primary key stages', @profile.primary_key_stages, \
          @profile.primary_key_stages_offered? ? edit_schools_on_boarding_key_stage_list_path : edit_schools_on_boarding_phases_list_path %>
        <%= summary_row 'Subjects', @profile.subjects, \
          @profile.subjects_offered? ? edit_schools_on_boarding_subjects_path : edit_schools_on_boarding_phases_list_path %>
        <%= summary_row 'Description', safe_format(@profile.descriptions), edit_schools_on_boarding_description_path %>
        <%= summary_row 'School experience details', safe_format(@profile.school_experience_details), edit_schools_on_boarding_experience_outline_path %>
        <%= summary_row 'Teacher training links', @profile.teacher_training_links, edit_schools_on_boarding_teacher_training_path %>
      </dl>

      <h2 class="govuk-heading-m">Candidate information</h2>
      <dl class="govuk-summary-list">
        <%= summary_row 'Dress code', @profile.dress_code, edit_schools_on_boarding_candidate_dress_code_path %>
        <%= summary_row 'Parking', @profile.parking, edit_schools_on_boarding_candidate_parking_information_path %>
        <%= summary_row 'Show disabilities and access needs support', @profile.supports_access_needs_description, edit_schools_on_boarding_access_needs_support_path %>
        <% if @profile.supports_access_needs? %>
          <%= summary_row 'Disability and access needs', safe_format(@profile.disability_and_access_needs_description), edit_schools_on_boarding_access_needs_detail_path %>
          <%= summary_row 'Disability Confident employer scheme', @profile.disability_confident_scheme, edit_schools_on_boarding_disability_confident_path %>
          <%= summary_row 'Disability and access needs policy', @profile.disability_and_access_needs_policy, edit_schools_on_boarding_access_needs_policy_path %>
        <% end %>
        <%= summary_row 'Start time', @profile.start_time, edit_schools_on_boarding_candidate_experience_detail_path %>
        <%= summary_row 'Finish time', @profile.end_time, edit_schools_on_boarding_candidate_experience_detail_path %>
        <%= summary_row 'Flexible on times', @profile.flexible_on_times, edit_schools_on_boarding_candidate_experience_detail_path %>
      </dl>

      <h2 class="govuk-heading-m">Admin contact details</h2>
      <dl class="govuk-summary-list">
        <%= summary_row 'UK telephone number', @profile.admin_contact_phone, edit_schools_on_boarding_admin_contact_path %>
        <%= summary_row 'Email address', @profile.admin_contact_email, edit_schools_on_boarding_admin_contact_path %>
        <% if @profile.admin_contact_email_secondary.present? %>
          <%= summary_row 'Secondary email address', @profile.admin_contact_email_secondary, edit_schools_on_boarding_admin_contact_path %>
        <% end %>
      </dl>

      <% unless @current_school.onboarded? %>
        <div class="govuk-form-group">
          <%= f.govuk_check_boxes_fieldset :acceptance, multiple: false do %>
            <%= f.govuk_check_box :acceptance, 1, 0, multiple: false, link_errors: true, label: { text: "By checking this box and setting up your school experience profile you’re confirming, to the best of your knowledge:" } %>
            <p>
              <ul class="govuk-list govuk-list--bullet">
                <li>the details you’re providing are correct</li>
                <li>you agree to manage the data you receive in line with current GDPR regulations</li>
                <li>you accept our <a href="/schools_privacy_policy" class="govuk-link">privacy policy</a></li>
              </ul>
            </p>
          <% end %>
        </div>

        <div class="govuk-button-group">
          <%= f.govuk_submit 'Accept and set up profile' %>
          <%= govuk_link_to 'Preview profile', schools_on_boarding_preview_path, secondary: true %>
        </div>
      <% else %>
	     <div class="govuk-button-group">
	        <%= govuk_link_to 'Preview profile', schools_on_boarding_preview_path, secondary: true %>
        </div>
      <% end %>

      <div>
	      <%= govuk_link_to 'Return to dashboard', schools_dashboard_path, secondary: true %>
      </div>
    <% end %>
  </div>
</div>
