<div class="govuk-grid-row" id="placement-preference">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Request school experience placement</h1>
    <p>Tell us a few details so we can forward your placement requirements to the school.</p>

    <%= form_for placement_preference, url: candidates_school_registrations_placement_preference_path do |f| %>
      <%= GovukElementsErrorsHelper.error_summary placement_preference, 'There is a problem', '' %>
      <%= f.text_area_with_maxwords \
          :availability,
          rows: 5,
          maxwords: { count: 150 },
          label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>
      <%= f.text_area_with_maxwords \
          :objectives,
          rows: 5,
          maxwords: { count: 150 },
          label_options: { overwrite_defaults!: true, class: 'govuk-heading-m' } %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
