<% self.page_title = 'What do you want to get out of your school experience?' %>
<%= govuk_back_link %>
<div class="govuk-grid-row" id="placement-preference">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for placement_preference, url: candidates_school_registrations_placement_preference_path do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">What do you want to get out of your school experience?</h1>

      <p>
        Provide a short explanation to help the school offer you
        the kind of experience you’re looking for. For example,
        you may want to find out if teaching is the right career
        for you, or to observe how teachers teach your subject.
      </p>

     <%= f.govuk_text_area \
          :objectives,
          rows: 5,
          max_words: 150,
          'aria-describedby': 'candidates_registrations_placement_preference_objectives_label',
          label: { class: 'govuk-heading-m', id: 'candidates_registrations_placement_preference_objectives_label' } %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
