<% self.page_title = 'Select school experience subjects' %>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for @subject_selection, method: :post, url: schools_placement_date_subject_selection_path(@placement_date) do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_collection_check_boxes :subject_ids, @placement_date.bookings_school.subjects, :id, :name, legend: { tag: "h1", size: "l" } %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
