<% content_for :back_link do govuk_back_link; end %>

<%= form_for education, url: candidates_school_registrations_education_path, data: { controller: 'education-form' } do |f| %>
  <%= f.govuk_error_summary %>

  <%= page_heading 'We need some more details' %>

  <p>
    The following will be used to help schools offer you school experience.
  </p>

  <section id="education-degree-stage-container" data-education-form-target="degreeStagesContainer">
    <%= f.govuk_radio_buttons_fieldset :degree_stage do %>
      <% f.object.available_degree_stages.each_with_index do |degree_stage, index| %>
        <% if f.object.requires_explanation_for_degree_stage? degree_stage %>
          <%= f.govuk_radio_button :degree_stage, degree_stage, link_errors: index.zero?, label: { text: degree_stage }, data: {
            action: 'click->education-form#degreeStageSelected',
            requires_subject: f.object.requires_subject_for_degree_stage?(degree_stage)
          } do %>
            <%= f.govuk_text_area :degree_stage_explaination %>
          <% end %>
        <% else %>
          <%= f.govuk_radio_button :degree_stage, degree_stage, link_errors: index.zero?, label: { text: degree_stage }, data: {
            action: 'click->education-form#degreeStageSelected',
            requires_subject: f.object.requires_subject_for_degree_stage?(degree_stage)
          } %>
        <% end %>
      <% end %>
    <% end %>
  </section>

  <section id="education-degree-subject-container" data-education-form-target="degreeSubjectContainer">
    <% if f.object.degree_subject_autocomplete? %>
      <%= f.hidden_field :nojs, value: true, class: 'nojs-flag' %>

      <div id="degree_subject_nojs" class="hide-with-javascript">
        <!-- no-javascript version of autocomplete box -->
        <%=f.govuk_text_field :degree_subject_nojs, label: { size: 'm' } %>
      </div>

      <%= render DfE::Autocomplete::View.new(
        f,
        attribute_name: :degree_subject,
        form_field: f.govuk_select(
          :degree_subject,
          options_for_select(dfe_autocomplete_options( f.object.available_degree_subjects), f.object.degree_subject),
          label: { text: t('helpers.legend.candidates_registrations_education.degree_subject'),  size: 'm', tag: 'h2' },
          hint: { text: t('helpers.hint.candidates_registrations_education.degree_subject') },
          data: { education_form_target: 'degreeSubject' },
          class: "enable-with-javascript",
          disabled: true,
          ),
        classes: "show-with-javascript",
        ) %>
    <% else %>
      <%= f.govuk_collection_select \
      :degree_subject,
      f.object.available_degree_subjects,
      :to_s,
      :to_s,
      options: { prompt: "Select" },
      data: {
        education_form_target: 'degreeSubject',
        value_for_no_degree: f.object.no_degree_subject
      },
      class: "govuk-select govuk-!-width-one-half",
      label: { class: "govuk-heading-m" } do %>
        <p>
          Select the nearest or equivalent subject.
        </p>
      <% end %>
    <% end %>
  </section>

  <%= f.govuk_submit 'Continue' %>
<% end %>
