<%- self.page_title = 'Fees' -%>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for fees, url: url, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Fees
      </h1>

      <p>
        Some schools charge fees to cover the costs of running school experience.
      </p>

      <p>
        This includes fees to cover administration costs, DBS checks and any other costs related to school experience.
      </p>

      <p>
        Select which fees candidates have to pay.
      </p>

      <%= f.govuk_check_boxes_fieldset :selected_fees, legend: nil do %>

        <%= f.govuk_check_box :selected_fees, "administration_fees" %>

        <% if requires_dbs_check %>
          <%= f.govuk_check_box :selected_fees, "dbs_fees" %>
        <% end %>

        <%= f.govuk_check_box :selected_fees, "other_fees" %>

        <%= f.govuk_check_box_divider %>

        <%= f.govuk_check_box :selected_fees, "none", exclusive: true %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
