<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-heading-l">
      Do you charge fees to cover any of the following?
    </div>

    <%= form_for fees, url: url, method: method do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <p>
        Some schools charge fees to cover the associated costs of running school experience.
      </p>

      <p>
        This includes fees to cover administration costs, background and security ‘DBS check’ charges or any other school experience-related costs schools might incur.
      </p>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <%= f.check_box_input :administration_fees %>
          <%= f.check_box_input :dbs_fees %>
          <%= f.check_box_input :other_fees %>
        </fieldset>
      </div>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
