<%- self.page_title = 'Do you charge fees to cover any of the following?' -%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for fees, url: url, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Do you charge fees to cover any of the following?
      </h1>

      <p>
        Some schools charge fees to cover the associated costs of running school experience.
      </p>

      <p>
        This includes fees to cover administration costs, background and security ‘DBS check’ charges or any other school experience-related costs schools might incur.
      </p>

      <% # hidden_field ensures the form is submitted if no radios selected %>
      <%= f.hidden_field :administration_fees %>

      <%= f.govuk_radio_buttons_fieldset :administration_fees do %>
        <%= f.govuk_radio_button :administration_fees, "true", 'aria-label': 'Yes, we charge a fee to cover administration costs', link_errors: true %>
        <%= f.govuk_radio_button :administration_fees, "false", 'aria-label': 'No, we do not charge a fee to cover administration costs' %>
      <% end %>

      <% if requires_dbs_check %>
        <%= f.govuk_radio_buttons_fieldset :dbs_fees do %>
          <%= f.govuk_radio_button :dbs_fees, "true", 'aria-label': 'Yes, we charge a fee to cover DBS check costs', link_errors: true %>
          <%= f.govuk_radio_button :dbs_fees, "false", 'aria-label': 'No, we do not charge a fee to cover DBS check costs' %>
        <% end %>
      <% else %>
        <%= f.hidden_field :dbs_fees, value: "false" %>
      <% end %>

      <%= f.govuk_radio_buttons_fieldset :other_fees do %>
        <%= f.govuk_radio_button :other_fees, "true", 'aria-label': 'Yes, we charge a fee to cover other costs', link_errors: true %>
        <%= f.govuk_radio_button :other_fees, "false", 'aria-label': 'No, we do not charge a fee to cover other costs' %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
