<%- self.page_title = 'Fees' -%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for fees, url: url, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-l">
        Fees
      </h1>

      <p>
        Some schools charge fees to cover the costs of running school experience.
      </p>

      <p>
        This includes fees to cover administration costs, DBS checks and any other costs related to school experience.
      </p>

      <p>
        Select which fees candidates have to pay.
      </p>

      <%= f.govuk_check_boxes_fieldset :administration_fees, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :administration_fees, 1, 0, multiple: false %>
      <% end %>

      <% if requires_dbs_check %>
        <%= f.govuk_check_boxes_fieldset :dbs_fees, multiple: false, legend: nil do %>
          <%= f.govuk_check_box :dbs_fees, 1, 0, multiple: false %>
        <% end %>
      <% else %>
        <%= f.hidden_field :dbs_fees, value: "false" %>
      <% end %>

      <%= f.govuk_check_boxes_fieldset :other_fees, multiple: false, legend: nil do %>
        <%= f.govuk_check_box :other_fees, 1, 0, multiple: false %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
