<%- self.page_title = 'Do you charge fees to cover any of the following?' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    'Do you charge fees to cover any of the following?' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-heading-l">
      Do you charge fees to cover any of the following?
    </div>

    <%= form_for fees, url: url, method: method do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <p>
        Some schools charge fees to cover the associated costs of running school experience.
      </p>

      <p>
        This includes fees to cover administration costs, background and security ‘DBS check’ charges or any other school experience-related costs schools might incur.
      </p>

      <%= f.radio_button_fieldset :administration_fees, choices: [true, false] %>
      <%= f.radio_button_fieldset :dbs_fees, choices: [true, false] %>
      <%= f.radio_button_fieldset :other_fees, choices: [true, false] %>
      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
