<%- self.page_title = "Modify placement details" %>

<%= govuk_back_link schools_placement_dates_path %>

<h1>Modify placement details</h1>

<p>
  These details will be shown to candidates to help them choose school experience
  at your school.
</p>


<%= form_for @placement_date, url: schools_placement_date_path(@placement_date), method: :put do |f| %>

  <div>
    <h2 class="govuk-heading-m">Start date</h2>
    <p class="placement-start-date">
      <%= @placement_date.date.to_formatted_s(:govuk) %>
    </p>
  </div>

  <%= f.govuk_number_field :duration, width: 3, required: true, label: { class: 'govuk-heading-m govuk-!-margin-0' }  %>

  <%= f.govuk_number_field :start_availability_offset, width: 3, required: true, label: { class: 'govuk-heading-m' }, suffix_text: t("helpers.suffix.schools_placement_dates.days_before_the_event") %>
  <%= f.govuk_number_field :end_availability_offset, width: 3, required: true, label: { class: 'govuk-heading-m' }, suffix_text: t("helpers.suffix.schools_placement_dates.days_before_the_event") %>

  <%= f.govuk_submit 'Continue' %>
<%- end -%>


<%= link_to "Close placement date", schools_placement_date_close_path(@placement_date.id) if @placement_date.available? %>
