<%- self.page_title = "Manage dates" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Manage dates' => nil
  }
%>

<h1>Manage dates</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <%- if @placement_dates.any? -%>
      <table id="placement-dates" class="govuk-table">

        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Date</th>
            <th class="govuk-table__header" scope="col">Duration</th>
            <th class="govuk-table__header" scope="col">Subjects</th>
            <th class="govuk-table__header" scope="col">Status</th>
            <th class="govuk-table__header" scope="col"></th>
          </tr>
        </thead>

        <tbody class="govuk-table__body">
        <%- @placement_dates.each do |placement_date| -%>
          <tr data-placement-date-id="<%= placement_date.id %>" class="placement-date govuk-table__row">
            <th class="govuk-table__header" scope="row">
              <%= placement_date.date.to_formatted_s(:govuk) %>
            </th>
            <td class="govuk-table__cell">
              <%= pluralize(placement_date.duration, 'day') %>
            </td>
            <td class="govuk-table__cell">
              <% if placement_date.subject_specific? %>
                <%= placement_date.subjects.pluck(:name).join(',') %>
              <% else %>
                All subjects
              <% end %>
            </td>
            <td class="govuk-table__cell status">
              <strong class="govuk-tag <%= placement_date_display_class(placement_date.active) %>">
                <%= placement_date_display_status(placement_date.active) %>
              </strong>
            </td>
            <td class="govuk-table__cell">
              <%= link_to(edit_schools_placement_date_path(placement_date)) do %>
                Change
                <span class="govuk-visually-hidden"> placement date <%= placement_date.date.to_formatted_s(:govuk) %></span>
              <%- end -%>
            </td>
          </tr>
        <%- end -%>
        </tbody>
      </table>
    <%- else -%>
      <%= render partial: 'schools/dashboards/no_placement_dates_warning' %>
    <%- end -%>

  </div>
</div>

<div>
  <%= link_to "Add dates", new_schools_placement_date_path, class: 'govuk-button' %>
</div>

<div>
  <%= link_to "Return to dashboard", schools_dashboard_path, class: 'govuk-button govuk-button--secondary' %>
</div>
