<%- self.page_title = "Add a date" %>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Placement dates' => schools_placement_dates_path,
    'Create a placement date' => nil
  }
%>

<h1>Add a date</h1>

<p>
  Enter a start date and tell us how long the experience will last.
</p>

<p>
  These details will be shown to candidates to help them choose school experience
  at your school.
</p>

<%= govuk_form_for @placement_date, url: schools_placement_dates_path, method: :post do |f| %>
  <%= f.govuk_error_summary %>
  <%= f.govuk_date_field :date, heading: true %>
  <%= f.govuk_number_field :duration, width: 3, required: true, label: { class: 'govuk-heading-m' } %>
  <%= f.govuk_radio_buttons_fieldset :virtual do %>
    <%= f.govuk_radio_button :virtual, true %>
    <%= f.govuk_radio_button :virtual, false, label: { text: t("helpers.label.bookings_placement_date.virtual_options.false") }, hint: nil %>
  <% end %>

  <% if show_subject_support_option(@current_school) %>
    <%= f.govuk_radio_buttons_fieldset :supports_subjects do %>
      <%= f.govuk_radio_button :supports_subjects, false, label: { text: t("helpers.label.bookings_placement_date.supports_subjects_options.false") } %>
      <%= f.govuk_radio_button :supports_subjects, true %>
    <% end %>
  <% end %>
  <%= f.govuk_submit 'Continue' %>
<%- end -%>

<% unless Feature.instance.active? :subject_specific_dates %>
<p class="govuk-inset-text">
  You'll be able to add subject-specific dates soon.
</p>
<% end %>
