<%- if candidate_signed_in? -%>
<% self.page_title = 'Confirm your contact details' %>
<%- else -%>
<% self.page_title = 'Enter your contact details' %>
<%- end -%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      <%- if candidate_signed_in? -%>
      <%= 'Confirm your contact details' %>
      <%- else -%>
      <%= 'Enter your contact details' %>
      <%- end -%>
    </h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Your details will be used by schools to contact you about school
          experience once you’ve sent them a request.
        </p>

        <%= form_for contact_information, url: candidates_school_registrations_contact_information_path do |f| %>
          <%= GovukElementsErrorsHelper.error_summary contact_information, 'There is a problem', '' %>

          <%= f.telephone_field :phone, autocomplete: 'on' %>

          <h2 class="govuk-heading-m">Address</h2>
          <%= f.text_field :building, autocomplete: 'home address-line1' %>
          <% if f.object.errors[:street].any? %>
            <%= f.text_field :street, autocomplete: 'home address-line2' %>
          <% else %>
            <%= f.text_field :street, autocomplete: 'home address-line2', label_options: { class: 'govuk-visually-hidden' } %>
          <% end %>
          <%= f.text_field :town_or_city, autocomplete: 'home address-level2', class: 'govuk-!-width-two-thirds' %>
          <%= f.text_field :county, autocomplete: 'home address-level1', class: 'govuk-!-width-two-thirds' %>
          <%= f.text_field :postcode, autocomplete: 'home postal-code', class: 'govuk-input govuk-input--width-10' %>

          <%= f.submit 'Continue' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
