<% self.page_title = 'Confirm your email' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Verify your school experience sign in
    </h1>

    <% if @git_api_enabled %>
    <p>
      You now need to <strong>enter the verification code</strong> we've sent to the following email address:
    </p>
    <% else %>
    <p>
      Click the link in the email we’ve sent to the following email address to
      sign in to you school experience dashboard.
    </p>
    <% end %>

    <ul class="govuk-list govuk-list--bullet">
      <li><%= @git_api_enabled ? @verification_code.email : @candidates_session.email %></li>
    </ul>

    <% if @git_api_enabled %>
      <%= form_for @verification_code, url: candidates_signin_code_path, method: :put do |f| %>
        <%= f.hidden_field :firstname %>
        <%= f.hidden_field :lastname %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :date_of_birth %>

        <%= f.text_field :code %>

        <%= f.submit "Submit" %>
      <% end %>
    <% end %>

    <p>
      If you can’t find the message in your inbox:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>check your spam and any other mailbox folders</li>
      <li>
        check the email address provided is one you've previously used with the
        school experience service
      </li>
    </ul>

    <p>
      If you can’t find or haven’t received the email please return to the
      Sign in page to try again:
    </p>

    <p>
      <%= link_to 'Return to Sign in', candidates_signin_path, class: 'govuk-link' %>
    </p>
  </div>
</div>
