<%- self.page_title = 'What requirements do you have?' -%>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for candidate_requirements_selection, url: schools_on_boarding_candidate_requirements_selection_path, method: method,
                 html: { class: "candidate-requirements-selection" } do |f| %>
      <%= f.govuk_error_summary %>

      <%= f.govuk_check_boxes_fieldset :selected_requirements, legend: { tag: "h1", size: "l" } do %>
        <%= f.govuk_check_box :selected_requirements, "on_teacher_training_course" %>
        <%= f.govuk_check_box :selected_requirements, "not_on_another_training_course" %>
        <%= f.govuk_check_box :selected_requirements, "has_or_working_towards_degree" %>
        <%= f.govuk_check_box :selected_requirements, "live_locally" do %>
          <%= f.govuk_number_field :maximum_distance_from_school %>
        <% end %>
        <%= f.govuk_check_box :selected_requirements, "provide_photo_identification" do %>
          <%= f.govuk_text_field :photo_identification_details %>
        <% end %>
        <%= f.govuk_check_box :selected_requirements, "other" do %>
          <%= f.govuk_text_field :other_details %>
        <% end %>
        <%= f.govuk_check_box_divider %>
        <%= f.govuk_check_box :selected_requirements, "none", exclusive: true %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
