<%- self.page_title = 'Select candidate requirements' -%>

<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Select candidate requirements' => nil
  }
%>

<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Select candidate requirements
    </h1>

    <%= form_for candidate_requirements_selection, url: schools_on_boarding_candidate_requirements_selection_path, method: method do |f| %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <p>
        Tell us what you require from candidates. Select all that apply.
      </p>
      <%= f.check_box_fieldset :candidate_requirements, %i(on_teacher_training_course not_on_another_training_course has_or_working_towards_degree live_locally other), legend_options: { class: 'govuk-visually-hidden' } do |fieldset| %>
        <%= fieldset.check_box_input :on_teacher_training_course %>
        <%= fieldset.check_box_input :not_on_another_training_course  %>
        <%= fieldset.check_box_input :has_or_working_towards_degree %>
        <%= fieldset.check_box_input :live_locally do %>
          <%= f.number_field :maximum_distance_from_school %>
        <% end %>
        <%= fieldset.check_box_input :provide_photo_identification do %>
          <%= f.text_field :photo_identification_details %>
        <% end %>
        <%= fieldset.check_box_input :other do %>
          <%= f.text_field :other_details %>
        <% end %>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
