<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <% if Schools::ChangeSchool.allow_school_change_in_app? %>
      <% if @schools.any? %>
        <%= form_for @change_school, url: schools_change_path, method: :post do |f| %>
          <%= f.govuk_error_summary %>
          <%= f.govuk_radio_buttons_fieldset :change_to_urn, legend: { tag: "h1", size: "l" } do %>
            <% @schools.each do |school| %>
              <%= f.govuk_radio_button :change_to_urn, school.urn, label: -> do %>
                <%= school.name %>
                <%= numbered_circle f.object.task_count_for_urn(school.urn),
                  aria_label: "outstanding bookings and requests for #{school.name}" %>
              <% end %>
            <% end %>
            <% if Schools::ChangeSchool.request_approval_url %>
              <div class= 'govuk-radios__divider'>or</div>
              <%= f.govuk_radio_button :change_to_urn, "request access", label: { text: "Request access to another school" } %>
            <% end %>
          <% end %>
        <div class ="govuk-button-group>
          <%= f.govuk_submit "Continue" %>
        <% end %>
          <%= link_to "Go back to #{@current_school&.name} dashboard", schools_dashboard_path, class: 'govuk-link' if current_urn %>
        </div>
      <% elsif @dfe_sign_in_add_service_url %>
        <h1 class="govuk-heading-l">Manage school experience</h1>

        <p class="govuk-body-l">
          You have not yet been granted access to the Manage school
          experience service.
        </p>

        <%= render 'pages/request_organisation_access' %>
      <% else %>
        <h1 class="govuk-heading-l">Manage school experience</h1>

        <p class="govuk-body-l">
          You have not yet been granted access to the Manage school
          experience service.
        </p>

        <p>
          To find out out more about or sign up for manage school experience email
          your request - including your full name and school's name and URN - to
          <a href="mailto:organise.school-experience@education.gov.uk">
            organise.school-experience@education.gov.uk
          </a>
        </p>
      <% end %>


    <% else %>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-visually-hidden">Warning</span>
          Changing school is not enabled, use the 'change school' link on the dashboard
        </strong>
      </div>

      <%= govuk_link_to "Return to the dashboard", schools_dashboard_path, class: 'govuk-link', secondary: false %>
    <% end %>
  </div>
</div>
