<%
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Previous bookings' => nil
  }
%>

<div id="previous-bookings-index" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= page_heading 'Previous bookings' %>

    <% if @bookings.any? %>
      <%= pagination_bar @bookings %>

      <%= render 'table', bookings: @bookings %>

      <%= pagination_lower @bookings %>

    <% else %>
      <p>
        There are no previous bookings.
      </p>
    <% end %>

    <%= govuk_link_to "Return to requests and bookings", schools_dashboard_path, secondary: true %>
  </div>
</div>
