<div class="govuk-grid-row" id="application-preview">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Check your answers before requesting your placement</h1>
    <dl class="govuk-summary-list">

      <h2 class="govuk-heading-m">Personal details</h2>

      <%= summary_row \
        'Full name',
        @application_preview.full_name,
        edit_candidates_school_registrations_contact_information_path %>

      <%= summary_row \
        'Address',
        @application_preview.full_address,
        edit_candidates_school_registrations_contact_information_path %>

      <%= summary_row \
        'UK telephone number',
        @application_preview.telephone_number,
        edit_candidates_school_registrations_contact_information_path %>

      <%= summary_row \
        'Email address',
        @application_preview.email_address,
        edit_candidates_school_registrations_contact_information_path %>

      <h2 class="govuk-heading-m">Request details</h2>

      <%= summary_row \
        'School or college',
        @application_preview.school %>

      <%= summary_row \
        'Placement availability',
        @application_preview.placement_availability,
        edit_candidates_school_registrations_placement_preference_path %>

      <%= summary_row \
        'Placement outcome',
        @application_preview.placement_outcome,
        edit_candidates_school_registrations_placement_preference_path %>

      <%= summary_row \
        'Degree stage',
        @application_preview.degree_stage,
        edit_candidates_school_registrations_subject_preference_path %>

      <%= summary_row \
        'Degree subject',
        @application_preview.degree_subject,
        edit_candidates_school_registrations_subject_preference_path %>

      <%= summary_row \
        'Teaching stage',
        @application_preview.teaching_stage,
        edit_candidates_school_registrations_subject_preference_path %>

      <%= summary_row \
        'Teaching subject - first choice',
        @application_preview.teaching_subject_first_choice,
        edit_candidates_school_registrations_subject_preference_path %>

      <%= summary_row \
        'Teaching subject - second choice',
        @application_preview.teaching_subject_second_choice,
        edit_candidates_school_registrations_subject_preference_path %>

      <%= summary_row \
        'DBS check document',
        @application_preview.dbs_check_document,
        edit_candidates_school_registrations_background_check_path %>

    </dl>
  </div>
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-m">Send your placement request</h2>
    <p class="govuk-body">
      By submitting this notification you’re confirming, to the best of your knowledge, the details you’re providing are correct.
    </p>
    <p>GDPR STATEMENT AND CONTENT PATTERN HERE</p>
    <%= button_to 'Accept and send', candidates_school_registrations_confirmation_email_path, class: 'govuk-button' %>
  </div>
</div>
