<% self.page_title = 'Check your answers' %>
<%= govuk_back_link %>
<div class="govuk-grid-row" id="application-preview">
  <%= form_for @privacy_policy,
        url: candidates_school_registrations_confirmation_email_path,
        data: { controller: "prevent-double-click", action: "submit->prevent-double-click#disableSubmitButton" } do |f| %>
  <div class="govuk-grid-column-two-thirds">
    <%= f.govuk_error_summary %>

    <h1 class="govuk-heading-l">Check your answers before requesting your school experience</h1>
    <p>You'll receive an email with the following details once you've sent your school experience request.</p>

    <h2 class="govuk-heading-m">Personal details</h2>
    <dl class="govuk-summary-list">
      <%- if @application_preview.read_only -%>

        <%= summary_row 'Full name', @application_preview.full_name %>

      <%- else -%>

        <%= summary_row \
          'Full name',
          @application_preview.full_name,
          edit_candidates_school_registrations_personal_information_path(
            anchor: 'candidates_registrations_personal_information_first_name_container'
          ) %>

      <% end %>

      <%= summary_row \
        'Address',
        @application_preview.full_address,
        edit_candidates_school_registrations_contact_information_path(
          anchor: 'candidates_registrations_contact_information_building_container'
        ) %>

      <%= summary_row \
        'UK telephone number',
        @application_preview.telephone_number,
        edit_candidates_school_registrations_contact_information_path(
          anchor: 'candidates_registrations_contact_information_phone_container'
        ) %>

      <%- if @application_preview.read_only -%>
        <%= summary_row 'Email address', @application_preview.email_address %>
      <%- else -%>
        <%= summary_row \
          'Email address',
          @application_preview.email_address,
          edit_candidates_school_registrations_personal_information_path(
            anchor: 'candidates_registrations_personal_information_email_container'
          ) %>
      <%- end -%>
    </dl>

    <h2 class="govuk-heading-m">Request details</h2>
    <dl class="govuk-summary-list">
      <%= summary_row \
        'School or college',
        @application_preview.school_name %>

      <%- if @application_preview.has_subject_and_date_information? -%>

        <%= summary_row \
          'Start date and subject',
          subject_and_date_description(@application_preview.placement_date, @application_preview.placement_date_subject),
          edit_candidates_school_registrations_subject_and_date_information_path %>

      <% else %>

        <%= summary_row \
          'Experience availability',
          safe_format(@application_preview.availability),
          edit_candidates_school_registrations_availability_preference_path(
            anchor: 'candidates_registrations_availability_preference_availability_container'
          ) %>

      <%- end -%>

      <%= summary_row \
        'What you want to get out of school experience',
        @application_preview.placement_outcome,
        edit_candidates_school_registrations_placement_preference_path(
          anchor: 'candidates_registrations_placement_preference_objectives_container'
        ) %>

      <%= summary_row \
        'Degree stage',
        @application_preview.degree_stage,
        edit_candidates_school_registrations_education_path(
          anchor: 'candidates_registrations_education_degree_stage_container'
        ) %>

      <%= summary_row \
        'Degree subject',
        @application_preview.degree_subject,
        edit_candidates_school_registrations_education_path(
          anchor: 'candidates_registrations_education_degree_subject_container'
        ) %>

      <%= summary_row \
        'Teaching stage',
        @application_preview.teaching_stage,
        edit_candidates_school_registrations_teaching_preference_path(
          anchor: 'candidates_registrations_teaching_preference_teaching_stage_container'
        ) %>

      <%= summary_row \
        'Teaching subject - first choice',
        @application_preview.teaching_subject_first_choice,
        edit_candidates_school_registrations_teaching_preference_path(
          anchor: 'candidates_registrations_teaching_preference_subject_first_choice_container'
        ) %>

      <%= summary_row \
        'Teaching subject - second choice',
        @application_preview.teaching_subject_second_choice,
        edit_candidates_school_registrations_teaching_preference_path(
          anchor: 'candidates_registrations_teaching_preference_subject_second_choice_container'
        ) %>

      <%= summary_row \
        'DBS certificate',
        @application_preview.dbs_check_document,
        edit_candidates_school_registrations_background_check_path(
          anchor: 'candidates_registrations_background_check_has_dbs_check_container'
        ) %>
    </dl>

    <div class="govuk-form-group">
      <%= f.govuk_check_boxes_fieldset :acceptance, multiple: false do %>
        <%= f.govuk_check_box :acceptance, 1, 0, multiple: false, link_errors: true, label: { text: "By checking this box you're confirming that:" } %>
        <p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the details you've provided are correct</li>
          <li>you're aged 18 or over</li>
          <li>you've read our <a href="/privacy_policy" class="govuk-link">privacy policy</a></li>
          <li>you understand that the DfE's
            <a href="https://getintoteaching.education.gov.uk/" class="govuk-link">Get Into Teaching Information Service</a>
            will use your personal details to provide you with
            tailored advice and information about teacher training and a career as a teacher</li>
        </ul>
        </p>
      <% end %>
    </div>
    <% if candidate_signed_in? %>
      <%= f.govuk_submit 'Accept and send', class: 'govuk-button', data: { prevent_double_click_target: "submitButton" } %>
    <% else %>
      <%= f.govuk_submit 'Continue', class: 'govuk-button', data: { prevent_double_click_target: "submitButton" } %>
    <% end %>
  </div>
  <% end %>
</div>
