<%- self.page_title = 'Manage school experience' -%>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage school experience</h1>
        <p>
          Use this service if you're a primary or secondary school in England and
          want to offer and organise school experience.
        </p>

        <p>
          You’ll be asked to sign in using DfE Sign-in.
        </p>

        <div class="govuk-accordion" data-module="accordion" id="accordion-default">
          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="i-have-a-dfe-signin-account-heading">
                  I have a DfE Sign-in account
                </span>
              </h2>
            </div>

            <div id="i-have-a-dfe-signin-account-content" class="govuk-accordion__section-content" aria-labelledby="i-have-a-dfe-signin-account-heading">
              <p class='govuk-body'>
                You’ll need your DfE Sign-in username and password but be aware
                these are not the same as your old SEP login details and does
                not include your URN.
              </p>

              <p>
                You’ll also need to ask your organisation’s ‘DfE Sign-in
                approver’ (often your head or deputy head) to provide you with
                access to ‘School Experience’ within your DfE Sign-in account.
              </p>

              <p>
                Your organisation’s approver details can be found in the 'My
                Organisations' section of your DfE Sign-in account.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="i-have-no-dfe-signin-account-heading">
                  I do not have a DfE Sign-in account
                </span>
              </h2>
            </div>

            <div id="i-have-no-dfe-signin-account-content" class="govuk-accordion__section-content" aria-labelledby="i-have-no-dfe-signin-account-heading">
              <p class='govuk-body'>
                You’ll need to ask your organisation’s ‘DfE Sign-in approver’
                (often your head or deputy head) to create a DfE Sign-in
                account for you.
              </p>

              <p>
                They’ll need your email address but make sure this is one
                that only you have access to.
              </p>

              <p>
                It will only be used for DfE Sign-in purposes and we won’t
                use it to send you anything to do with the service.
              </p>

              <p>
                If you don’t know who's your DfE Sign-in approver email us
                with your URN at <%= mail_to "organise.school-experience@education.gov.uk" %>.
              </p>
            </div>
          </div>

          <div class="govuk-accordion__section ">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="i-have-forgotten-about-my-dfe-signin-status-heading">
                  I cannot remember if I have a DfE Sign-in account
                </span>
              </h2>
            </div>
            <div id="i-have-forgotten-about-my-dfe-signin-status-content" class="govuk-accordion__section-content" aria-labelledby="i-have-forgotten-about-my-dfe-signin-status-heading">
              <p class='govuk-body'>
                You’ll need to fill in the following online form and ask DfE
                Sign-in if they can provide you with your DfE Sign-in account
                details.
              </p>

              <p>
                Submit a <%= link_to 'DfE Sign-in support request',
                  href: "https://help.signin.education.gov.uk/contact/submit?type=create-account" %>
              </p>
            </div>
          </div>
        </div>
        <p>
          The service is currently only open to specific schools. To sign up
          for the service email us with your URN at
          <%= mail_to 'organise.school-experience@education.gov.uk' %>.
        </p>

        <%= link_to 'Start now', schools_dashboard_path,
          role:'button',
          class:'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' %>

        <section>
          <h2 class="govuk-heading-m">Before you start</h2>

          <p>
            You’ll need to set up a school experience profile so you can start
            receiving requests from candidates.
          </p>

          <p>
            To set up your profile, you’ll need to provide various details including:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>your DBS-check and other candidate-related requirements</li>
            <li>whether you charge candidates any fees for school experience</li>
            <li>an outline of the kind of school experience you offer candidates</li>
          </ul>
        </section>

        <section>
          <h2 class="govuk-heading-m">Request details</h2>

          <p>
            Each individual request from a candidate will include their:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              full name and contact details - including address, email and UK
              telephone number
            </li>
            <li>
              candidate requirements - including their expectations and
              preferred experience dates and subjects
            </li>
            <li>
              degree status and subject - including whether they have or are
              studying towards a degree and the subject
            </li>
            <li>
              teaching experience - including how far they've got towards
              becoming a teacher
            </li>
          </ul>
        </section>

        <section>
          <h2 class="govuk-heading-m">DBS details and fees</h2>

          <p>
            You'll also be told if candidates have got a Disclosure and Barring
            Service (DBS) certificate. These details will not be verified by DfE.
          </p>

          <p class="govuk-!-font-weight-bold">
            It's your responsibility to decide if candidates comply with your
            individual DBS and safeguarding policies and book them on experience
            at your school.
          </p>

          <p>
            You can charge fees to cover administration, DBS check and any other
            school experience-related costs. You’ll need to sort out payment
            between yourselves and individual candidates.
          </p>
        </section>
      </div>

      <div class="govuk-grid-column-one-third column-top-border">
        <nav>
          <h2 class="govuk-heading-m">Related guidance</h2>
          <ul class="govuk-list">
            <li>
              <%= link_to 'Manage school experience: information for schools', 'https://www.gov.uk/government/publications/school-experience-programme-information-for-schools' %>
          </ul>
        </nav>
      </div>
    </div>
  </main>
</div>
