<%- self.page_title = 'Manage school experience' -%>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Manage school experience</h1>

        <section>
          <p>
            Use this service if you're a school in England and want to offer
            school experience.
          </p>

          <p>
            The service will enable you to advertise your school and allow
            candidates to request experience dates. You'll be able to accept
            or reject each request.
          </p>

          <p>
            You need a <strong>DfE Sign-in account</strong> with access to School Experience.
          </p>

          <p>
            If you have any questions read our <%= link_to 'DfE Sign-in help', dfe_signin_help_path %>.
          </p>
        </section>

        <%- if @signin_deactivated -%>
          <div id="dfe-signin-deactivated" class="govuk-inset-text">
            <p>
              Sign-ins to this service are currently unavailable.
            </p>

            <p>
              <%- if @signin_message -%>
                <%= @signin_message %>
              <%- else -%>
                You will be able to use this service later today.
              <%- end -%>
            </p>

            <p>
              Contact
              <a href="mailto:organise.school-experience@education.gov.uk">
                organise.school-experience@education.gov.uk
              </a> if you need further information.
            </p>
          </div>
        <%- else -%>
          <%= govuk_link_to schools_dashboard_path,
            role:'button',
            class:'govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8' do %>
            Start now <%= render 'shared/start_button_chevron' %>
          <% end %>
        <%- end -%>

        <section>
          <h2 class="govuk-heading-m">Before you start</h2>

          <p>
            The service will ask you to outline the kind of experience you
            offer including details about DBS-checks and any fees you charge candidates.
          </p>

          <p>
            It's your responsibility to decide if candidates comply with your
            school DBS and safeguarding policies.
          </p>
        </section>
      </div>

      <div class="govuk-grid-column-one-third column-top-border">
        <nav>
          <h2 class="govuk-heading-m">Help and guidance</h2>
          <ul class="govuk-list">
            <li>
              <%= link_to 'Manage school experience: information for schools', 'https://www.gov.uk/government/publications/school-experience-programme-information-for-schools' %>
            </li>
            <li>
              <%= link_to 'DfE Sign-in help', dfe_signin_help_path %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </main>
</div>
