<%- self.page_title = 'Access needs policy' -%>

<%-
  self.breadcrumbs = {
    @current_school.name => schools_dashboard_path,
    'Access needs policy' => nil
  }
-%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_form_for access_needs_policy, url: schools_on_boarding_access_needs_policy_path, method: method do |f| %>
      <%= f.govuk_error_summary %>
      <%= f.govuk_radio_buttons_fieldset :has_access_needs_policy, legend: { tag: "h1", size: "l" } do %>
        <p class="govuk-hint">
          For example, a link to a relevant document or page on your school
          website
        </p>
        <%= f.govuk_radio_button :has_access_needs_policy, "true", link_errors: true do %>
          <%= f.govuk_text_field :url %>
        <% end %>
        <%= f.govuk_radio_button :has_access_needs_policy, "false" %>
      <% end %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
