<%- self.page_title = 'Access needs policy' -%>
<% content_for :back_link do govuk_back_link(javascript: true); end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for_duplicated_object access_needs_policy, url: schools_on_boarding_access_needs_policy_path, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="govuk-heading-xl"><%= @current_school.name %></h1>

      <%= f.govuk_radio_buttons_fieldset :has_access_needs_policy, legend: { tag: "h2", size: "l" } do %>
        <p class="govuk-hint">
          For example, a link to a relevant document or page on your school
          website
        </p>
        <%= f.govuk_radio_button :has_access_needs_policy, "true", link_errors: true do %>
          <%= f.govuk_text_field :url %>
        <% end %>
        <%= f.govuk_radio_button :has_access_needs_policy, "false" %>
      <% end %>
      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
