<%
  self.breadcrumbs = {
    @current_school.name => schools_root_path,
    'Enter your school experience details' => nil
  }
%>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Enter your school experience details</h1>

    <p>These details will help candidates select a school experience.</p>

    <%= form_for candidate_requirement, url: url, method: method do |f|  %>
      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <%= f.radio_button_fieldset :dbs_requirement do |fieldset| %>
        <% f.object.dbs_requirements.each do |requirement| %>
          <% if f.object.policy_explanation_required? requirement %>
            <%= fieldset.radio_input requirement do %>
              <%= fieldset.text_area_with_maxwords :dbs_policy, maxwords: { count: 50 }, class: 'govuk-!-width-two-thirds', rows: 7 %>
            <% end %>
          <% else %>
            <%= fieldset.radio_input requirement %>
          <% end %>
        <% end %>
      <% end %>

      <%= f.radio_button_fieldset :requirements do |fieldset| %>
        <p>
          For example, they must want to apply for teacher training at your
          school or they must be local and live within 20 miles of your school.
        </p>
         <%= fieldset.radio_input true do %>
           <%= fieldset.text_area :requirements_details, class: 'govuk-!-width-two-thirds', rows: 7 %>
         <% end %>
         <%= fieldset.radio_input false %>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
