<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for availability_preference, url: url, method: method do |f| %>
      <h1 class="govuk-heading-l">School experience availability or fixed dates</h1>

      <%= GovukElementsErrorsHelper.error_summary f.object, 'There is a problem', '' %>

      <p>
        You need to contact individual candidates to discuss, arrange and offer them a placement date after you’ve received their school experience request.
      </p>
      <p>
        You should try and respond to requests within 10 working days during term time.
      </p>
      <p>
        Once you’ve accepted a request you’ll be asked to confirm the candidate’s placement dates as part of confirming their school experience booking. 
      </p>

      <%= f.hidden_field :fixed, value: nil %>

      <%= f.radio_button_fieldset :fixed do |fieldset| %>
        <p>
          Select whether you’d like to tell candidates about your school experience by outlining your school's availability or telling them about fixed dates: 
        </p>
        <%= fieldset.radio_input true %>
        <%= fieldset.radio_input false %>
      <% end %>

      <%= f.submit 'Continue' %>
    <% end %>
  </div>
</div>
