<% self.page_title = 'Cancelled booking' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        Your school experience booking has already been cancelled by the school
      </h1>
    </div>

    <p>
      <%= school_name %> has cancelled your school experience for the following
      dates: <%= dates_requested %>
    </p>

    <p>
      Your booking was cancelled for the following reasons: <%= rejection_reasons %>
    </p>

    <p>
      Extra details from the school <%= extra_details %>
    </p>

  <h2 class="govuk-heading-m">
    Request school experience
  </h2>
    <p>
      To request a different placement you can search to find school experience near you.
    </p>
    <p>
      <%= govuk_link_to 'Search for school experience', new_candidates_school_search_path, class: "govuk-!-margin-bottom-0" %>
    </p>

  </div>
</div>
