<% self.page_title = 'Enter dress code details for candidates' %>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_for candidate_dress_code, url: url, method: method do |f| %>
      <%= f.govuk_error_summary %>

      <h1 class="gouvk-heading-l">
        Do you have a dress code for candidates?
      </h1>
      <p>
        Select all that apply.
      </p>

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading"></h2>
      </legend>

      <%= f.govuk_check_boxes_fieldset :selected_requirements, legend: nil do %>
        <%= f.govuk_check_box :selected_requirements, "business_dress" %>
        <%= f.govuk_check_box :selected_requirements, "cover_up_tattoos" %>
        <%= f.govuk_check_box :selected_requirements, "remove_piercings" %>
        <%= f.govuk_check_box :selected_requirements, "smart_casual" %>
        <%= f.govuk_check_box :selected_requirements, "other_dress_requirements" do %>
          <%= f.govuk_text_field :other_dress_requirements_detail %>
        <% end %>

        <%= f.govuk_check_box_divider %>

        <%= f.govuk_check_box :selected_requirements, "none", exclusive: true %>
      <% end %>

      <%= f.govuk_submit 'Continue' %>
    <% end %>
  </div>
</div>
