<%= link_to 'Back', :back, class: 'govuk-back-link', data: {controller: 'back-link'} %>

<%- self.page_title = "Confirm booking" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1>
      Confirm the contact details for <%= @placement_request.candidate_name %>
    </h1>

    <h3 class="govuk-heading-m">Candidate details</h3>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          School
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.school.name %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <%- if @placement_request.placement_date.present? -%>
          <dt class="govuk-summary-list__key">
            Date requested
          </dt>
          <dd class="govuk-summary-list__value">
            <%= @placement_request.placement_date.date.to_formatted_s(:govuk) %>
          </dd>
        <%- else -%>
          <dt class="govuk-summary-list__key">
            Availability
          </dt>
          <dd class="govuk-summary-list__value">
            <%= safe_format @placement_request.availability %>
          </dd>
        <%- end -%>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subject requested
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @placement_request.requested_subject.name %>
        </dd>
      </div>

    </dl>

    <h3 class="govuk-heading-m">Contact details</h3>

    <dl class="govuk-summary-list">

      <% if @last_booking_found %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list">
              <li aria-label="Contact name">
                <%= @booking.contact_name %>
              </li>
              <li aria-label="Contact telephone number">
                <%= @booking.contact_number %>
              </li>
              <li aria-label="Contact email address">
                <%= @booking.contact_email %>
              </li>
            </ul>
          </dd>
        </div>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Admin details
        </dt>
        <dd class="govuk-summary-list__value">
          <ul class="govuk-list">
            <li aria-label="Admin email address">
              <%= @placement_request.school.profile.admin_contact_email %>
            </li>
            <li aria-label="Admin phone number">
              <%= @placement_request.school.profile.admin_contact_phone %>
            </li>
          </ul>
        </dd>
      </div>

    </dl>

    <div>
      <% if @placement_request.fixed_date_is_bookable? && @last_booking_found %>
        <%# contact details are present and school has fixed dates, allow for move on to the email preview%>
        <%= form_for @booking, url: schools_placement_request_acceptance_make_changes_path, method: 'post' do |f| %>
          <%= f.hidden_field :contact_name %>
          <%= f.hidden_field :contact_number %>
          <%= f.hidden_field :contact_email %>
          <%= f.submit 'Continue' %>
        <% end %>
        <%= govuk_link_to 'Make changes', new_schools_placement_request_acceptance_make_changes_path(@placement_request), secondary: true, data: { module: "govuk-button" } %>
      <% else %>
        <%# contact details are missing (this is the first time) or it's a flex booking %>
        <%= govuk_link_to 'Continue', new_schools_placement_request_acceptance_make_changes_path(@placement_request), data: { module: "govuk-button" } %>
      <% end %>
    </div>
  </div>
</div>
