<%- self.page_title = 'School description' -%>

<%= govuk_back_link javascript: true %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= govuk_form_for description, url: schools_on_boarding_description_path, method: method do |f| %>
      <h1 class="govuk-heading-l">
        School description
      </h1>

      <p>
        Use this section to tell candidates about your school.
      </p>

      <p class="govuk-!-margin-top-4">
        Include details like:

        <ul class="govuk-list govuk-list--bullet">
          <li>if the school includes primary, secondary or both</li>
          <li>the school's ethos and values</li>
          <li>what kind of place it's like to work in</li>
        </ul>
      </p>

      <p>
        Do not write about the kind of school experience you offer, you'll be
        able to add those details later.
      </p>

      <%= f.govuk_error_summary %>
      <%= f.govuk_text_area :details, rows: 10, label: -> { tag.h2('Enter a description of your school') } %>

      <%= f.govuk_submit 'Continue' %>
      <%= f.govuk_submit 'Skip', class: 'govuk-button govuk-button--secondary' %>
    <% end %>
  </div>
</div>

<%= javascript_tag nonce: true do -%>
  window.onload = function() {
    descriptionTracker.element.addEventListener(
      'toggle',
      this.descriptionTracker.event
    );
  };
<% end -%>
